@page
@model Unna.OperationalReport.WebSite.Pages.Admin.IngenieroProceso.Reporte.Mensual.FacturacionGasUnnaGnsLoteIv.IndexModel
@{
}


@section Styles {
    <link href="~/css/reportes.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/admin/ingenieroproceso/reporte/mensual/facturaciongasunnagnsloteiv/index.js"></script>
}

<input type="hidden" id="__URL_OBTENER_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/FacturacionGasUnnaGnsLoteIv/Obtener")" />
<input type="hidden" id="__URL_GUARDAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/FacturacionGasUnnaGnsLoteIv/Guardar")" />


<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table tbl-resumen-ventas w-100">
                <tbody>
                    <tr>
                        <td rowspan="3"><img src="@Url.Content("~/images/logo.png")" alt="Unna Energía Logo" style="width: 11rem;"></td>

                        <td rowspan="3">
                            <h2>@Model.Dato?.NombreReporte</h2>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-10">
        <div class="col-md-12 mt-2">
            <h4 class="text-center"><b>@Model.Dato.Periodo</b></h4>
        </div>
        <div class="col-md-12 mt-4">
            <h4 style="text-decoration: underline;">DETALLE DE CÁLCULO FACTURACIÓN VENTA DE GNS LOTE IV A ENEL:</h4>
        </div>
        <div class="col-md-12 mt-3">
           
            <table class="table table-bordered tbl-resumen-ventas">
                <thead>
                    <tr>
                        <th rowspan="2">CONCEPTO</th>
                        <th colspan="4">FACTURACIÓN</th>
                    </tr>
                    <tr>
                        <th>MPC</th>
                        <th>MMBTU</th>
                        <th>PRECIO (US$/MMBTU)</th>
                        <th>IMPORTE (US$) Sin IGV</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>@Model.Dato.Concepto</td>
                        <td><input type="text" class="form-control form-report only-number text-right" id="tbMpc" value="@Model.Dato.Mpc"></td>
                        <td><input type="text" class="form-control form-report only-number text-right" id="tbMmbtu" value="@Model.Dato.Mmbtu"></td>
                        <td><input type="text" class="form-control form-report only-number text-right" id="tbPrecioUs" value="@Model.Dato.PrecioUs"></td>
                        <td><input type="text" class="form-control form-report only-number text-right" id="tbImporteUs" value="@Model.Dato.ImporteUs"></td>
                    </tr>
                    <tr>
                        <td>TOTAL</td>
                        <td><input type="text" class="form-control form-report only-number text-right" id="tbTotalMpc" value="@Model.Dato.TotalMpc"></td>
                        <td><input type="text" class="form-control form-report only-number text-right" id="tbTotalMmbtu" value="@Model.Dato.TotalMmbtu"></td>
                        <td><input type="text" class="form-control form-report only-number text-right" id="tbTotalPrecioUs" value="@Model.Dato.TotalPrecioUs"></td>
                        <td><input type="text" class="form-control form-report only-number text-right" id="tbTotalImporteUs" value="@Model.Dato.TotalImporteUs"></td>
                    </tr>

                </tbody>
            </table>

        </div>


        <div class="col-md-12 mt-10 row">
            <div class="col-md-4 text-center">
                <img src="@Url.Content(Model.Dato?.UrlFirma)" style="max-width:180px;height:100px;" />
                <p class="mb-0">____________________________</p>
                <p>UNNA ENERGIA S.A</p>
            </div>
        </div>


        <div class="col-md-12 mt-10 mb-10">
            <div class="row d-flex justify-content-end">
                <button class="btn btn-primary mr-2" id="btnGuardar"><i class="far fa-save"></i> Guardar</button>
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-print"></i> Descargar
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" id="btnDescargarExcel" href="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/FacturacionGasUnnaGnsLoteIv/GenerarExcel")">Excel</a>
                        <a class="dropdown-item" id="btnDescargarPdf" href="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/FacturacionGasUnnaGnsLoteIv/GenerarPdf")">PDF</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>