@page
@model Unna.OperationalReport.WebSite.Pages.Admin.IngenieroProceso.Reporte.Diario.BoletaCnpc.IndexModel
@{
}


<input type="hidden" id="__URL_OBTENER_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/diario/BoletaCnpc/Obtener")" />
<input type="hidden" id="__URL_GUARDAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/diario/BoletaCnpc/Guardar")" />


@section Styles {
    <link href="~/css/reportes.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/admin/ingenieroproceso/reporte/diario/boletacnpc/index.js?1.1.0"></script>

}

<input type="hidden" id="__HD_URL_GENERAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/diario/BoletaCnpc/GenerarExcel")" />

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table tbl-resumen-ventas w-100">
                <tbody>
                    <tr>
                        <td rowspan="3"><img src="@Url.Content("~/images/logo.png")" alt="Unna Energía Logo" style="width: 11rem;"></td>
                        <td rowspan="3">
                            <h2>@Model.Dato?.General?.NombreReporte</h2>
                        </td>
                        <td colspan="2">UNNA ENERGÍA - ENEL</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p class="mb-0">Versión/Fecha</p>
                            <p class="mb-0">@Model.Dato?.General?.Version / @Model.Dato?.General?.Fecha</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Preparado por: @Model.Dato?.General?.PreparadoPör</td>
                        <td>Aprobado por: @Model.Dato?.General?.AprobadoPor</td>

                    </tr>
                </tbody>
            </table>


            <div class="container mt-3">

                <div class="container mt-3">
                    <div class="row">
                        <div class="w-100 mt-5 mb-1">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:300px;float: right;">
                                <tbody>
                                    <tr>
                                        <td><b>FECHA</b></td>
                                        <td><b>@Model.Dato?.Fecha</b> </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <h3 class="mb-5 mt-1 w-100">Cuadro N°1. Resumen de Ventas</h3>
                    </div>
                    <table class="table table-bordered tbl-resumen-ventas">
                        <thead>
                            <tr>
                                <th>
                                    FECHA
                                </th>
                                <th>
                                    GAS MPCD
                                </th>
                                <th>GLP (Bls)</th>
                                <th>CGN (Bls)</th>
                                <th>CGN (MPC)</th>
                                <th>GC (MPC)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" class="form-control form-report text-center" value="@Model.Dato?.Tabla1?.Fecha" disabled readonly></td>
                                <td><input type="text" class="form-control form-report only-number text-right " id="Tabla1GasMpcd" value="@Model.Dato?.Tabla1?.GasMpcd"></td>
                                <td><input type="text" class="form-control form-report only-number text-right" id="Tabla1GlpBls" value="@Model.Dato?.Tabla1?.GlpBls"></td>
                                <td><input type="text" class="form-control form-report only-number text-right" id="Tabla1CgnBls" value="@Model.Dato?.Tabla1?.CgnBls"></td>
                                <td><input type="text" class="form-control form-report only-number text-right" id="Tabla1CnsMpc" value="@Model.Dato?.Tabla1?.CnsMpc"></td>
                                <td><input type="text" class="form-control form-report only-number text-right" id="Tabla1CgMpc" value="@Model.Dato?.Tabla1?.CgMpc"></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>


            <!-- Cuadro N° 1 -->
            <div class="container mt-10">
                <h3 class="text-center">Cuadro N° 1. Fiscalización de GNS del GAS adicional del lote X</h3>
                <div class="container mt-3">
                    <div class="card border-thick">
                        <div class="card-body row">
                            <div class="col-md-6">
                                <div class="row mb-2 data-row">
                                    <div class="col-6 col-md-4">
                                        <label class="font-weight-bold">Volumen Total de GNS en MS-9205</label>
                                    </div>
                                    <div class="col-3 col-md-4">
                                        <input type="text" class="form-control form-report only-number text-right" id="VolumenTotalGnsEnMs" value="@Model.Dato?.VolumenTotalGnsEnMs">
                                    </div>
                                    <div class="col-3 col-md-4">
                                        <label>(MPCS)</label>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col">
                                        <label class="font-weight-bold">Volumen Total de GNS</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control form-report only-number text-right" id="VolumenTotalGns" value="@Model.Dato?.VolumenTotalGns">
                                    </div>
                                    <div class="col">
                                        <label>(MPCS)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-2 data-row">
                                    <div class="col-6 col-md-4">
                                        <label class="font-weight-bold">Flare del GNA perteciente a  ENEL</label>
                                    </div>
                                    <div class="col-3 col-md-4">
                                        <input type="text" class="form-control form-report only-number text-right" id="FlareGna" value="@Model.Dato?.FlareGna">
                                    </div>
                                    <div class="col-3 col-md-4">
                                        <label>(MPCS)</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-3">
                    <table class="table table-bordered thick-border">
                        <thead>
                            <tr>
                                <th rowspan="3">Item</th>
                                <th rowspan="3">Suministrador</th>
                                <th rowspan="2">Volumen de GNA (Mpcs)</th>
                                <th colspan="4" class="text-center">Factor de Asignación de Líquidos del Gas Natural</th>
                            </tr>
                            <tr>
                                <th>Concentración de C1-C2-No Condensables </th>
                                <th>Volumen de C1-C2-No Condensables </th>
                                <th>Factor de Distribución de GNS</th>
                                <th>Asignación de GNS (Mpcs)</th>
                            </tr>
                            <tr>
                                <th class="text-center"><span class="text-muted">(Ki)</span></th>
                                <th class="text-center"><span class="text-muted">(Li)</span></th>
                                <th class="text-center"><span class="text-muted">(Mi=KixLi)</span></th>
                                <th class="text-center"><span class="text-muted">(Ni=Mi/Mt)</span></th>
                                <th class="text-center"><span class="text-muted">(Oi=NixLGN Total)</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Dato?.FactoresDistribucionGasNaturalSeco != null)
                            {
                                @foreach (var item in Model.Dato.FactoresDistribucionGasNaturalSeco)
                                {
                                    <tr class="list-datos-tabla" data-id-dato="@item.Item">
                                        <td>@item.Item</td>
                                        <td>@item.Sumistrador</td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="Volumen_@item.Item" value="@item.Volumen"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="ConcentracionC1_@item.Item" value="@item.ConcentracionC1"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="VolumenC1_@item.Item" value="@item.VolumenC1"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="FactoresDistribucion_@item.Item" value="@item.FactoresDistribucion"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="AsignacionGns_@item.Item" value="@item.AsignacionGns"></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                </div>
            </div>




            <!-- Cuadro N° 2 -->
            <div class="container mt-10">
                <h3 class="text-center">Cuadro N° 2. Asignación de GAS de combustible a GNA adicional del lote X</h3>
                <div class="container mt-3">
                    <div class="card border-thick">
                        <div class="card-body row">
                            <div class="col-md-6">
                                <div class="row mb-2 data-row">
                                    <div class="col-6 col-md-4">
                                        <label class="font-weight-bold">Volumen Total de Gas Combustible en MS-9210</label>
                                    </div>
                                    <div class="col-3 col-md-4">
                                        <input type="text" class="form-control form-report only-number text-right" id="VolumenTotalGasCombustible" value="@Model.Dato?.VolumenTotalGasCombustible">
                                    </div>
                                    <div class="col-3 col-md-4">
                                        <label>(MPCS)</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-3">
                    <table class="table table-bordered thick-border">
                        <thead>
                            <tr>
                                <th rowspan="3">Item</th>
                                <th rowspan="3" class="text-center">Suministrador</th>
                                <th rowspan="2">Volumen de GNA (Mpcs)</th>
                                <th colspan="4" class="text-center">Factores de Distribución de Gas Combustible</th>
                            </tr>
                            <tr>
                                <th>Concentración de C1-C2-No Condensables en el GNA (% Vol)</th>
                                <th>Volumen de C1-C2-No Condensables en el GNA (Mpcs)</th>
                                <th>Factor de Distribución de GNS [FdGNS] (%)</th>
                                <th>Asignación de Gas Combustible (Mpcs)</th>
                            </tr>
                            <tr>
                                <th class="text-center"><span class="text-muted">(Ki)</span></th>
                                <th class="text-center"><span class="text-muted">(Li)</span></th>
                                <th class="text-center"><span class="text-muted">(Mi=KixLi)</span></th>
                                <th class="text-center"><span class="text-muted">(Ni=Mi/Mt)</span></th>
                                <th class="text-center"><span class="text-muted">(Ji=IixGC Total)</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Dato?.FactoresDistribucionGasDeCombustible != null)
                            {
                                @foreach (var item in Model.Dato.FactoresDistribucionGasDeCombustible)
                                {
                                    <tr class="list-datos-tablaFDGDC" data-id-dato="@item.Item">
                                        <td>@item.Item</td>
                                        <td>@item.Sumistrador</td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="FDGDCVolumen_@item.Item" value="@item.Volumen"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="FDGDCConcentracionC1_@item.Item" value="@item.ConcentracionC1"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="FDGDCVolumenC1_@item.Item" value="@item.VolumenC1"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="FDGDCFactoresDistribucion_@item.Item" value="@item.FactoresDistribucion"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="FDGDCAsignacionGns_@item.Item" value="@item.AsignacionGns"></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                </div>
            </div>





            <!-- Cuadro N° 3-->
            <div class="container mt-10">
                <h3 class="text-center">Cuadro N° 3. Asignación de LGN al GNA Adicional del Lote X</h3>
                <div class="container mt-3">
                    <div class="card border-thick">
                        <div class="card-body row">
                            <div class="col-md-6">
                                <div class="row mb-2 data-row">
                                    <div class="col-6 col-md-4">
                                        <label class="font-weight-bold">Volumen de Producción Total de GLP</label>
                                    </div>
                                    <div class="col-3 col-md-4">
                                        <input type="text" class="form-control form-report only-number text-right" id="VolumenProduccionTotalGlp" value="@Model.Dato?.VolumenProduccionTotalGlp">
                                    </div>
                                    <div class="col-3 col-md-4">
                                        <label>(BLS)</label>
                                    </div>
                                </div>
                                <div class="row mb-2 data-row">
                                    <div class="col-6 col-md-4">
                                        <label class="font-weight-bold">Volumen de Producción Total de CGN</label>
                                    </div>
                                    <div class="col-3 col-md-4">
                                        <input type="text" class="form-control form-report only-number text-right" id="VolumenProduccionTotalCgn" value="@Model.Dato?.VolumenProduccionTotalCgn">
                                    </div>
                                    <div class="col-3 col-md-4">
                                        <label>(BLS)</label>
                                    </div>
                                </div>
                                <div class="row mb-2 data-row">
                                    <div class="col-6 col-md-4">
                                        <label class="font-weight-bold">Volumen Total de Producción de LGN (GLP,CGN)</label>
                                    </div>
                                    <div class="col-3 col-md-4">
                                        <input type="text" class="form-control form-report only-number text-right" id="VolumenProduccionTotalLgn" value="@Model.Dato?.VolumenProduccionTotalLgn">
                                    </div>
                                    <div class="col-3 col-md-4">
                                        <label>(BLS)</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-3">
                    <table class="table table-bordered thick-border">
                        <thead>
                            <tr>
                                <th rowspan="3">Item</th>
                                <th rowspan="3" class="text-center">Suministrador</th>
                                <th rowspan="2"> Volumen de GNA (Mpcs)</th>
                                <th colspan="4" class="text-center">Factor de Distribución de Líquidos del Gas Natural</th>
                            </tr>
                            <tr>
                                <th>Riqueza (C3+) del GNA en Gal/Mpcs (De cromatografía de gas)</th>
                                <th>
                                    Contenido de LGN en el GNA (Gal)
                                </th>
                                <th>FdLGN (%)</th>
                                <th>Asignación de LGN (Bls)</th>
                            </tr>
                            <tr>
                                <th class="text-center"><span class="text-muted">(Ki)</span></th>
                                <th class="text-center"><span class="text-muted">(Li)</span></th>
                                <th class="text-center"><span class="text-muted">(Mi=KixLi)</span></th>
                                <th class="text-center"><span class="text-muted">(Ni=Mi/Mt)</span></th>
                                <th class="text-center"><span class="text-muted">(Oi=NixLGN Total)</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Dato?.FactoresDistribucionLiquidoGasNatural != null)
                            {
                                @foreach (var item in Model.Dato.FactoresDistribucionLiquidoGasNatural)
                                {
                                    <tr class="list-datos-tablaFDLGN" data-id-dato="@item.Item">
                                        <td>@item.Item</td>
                                        <td>@item.Sumistrador</td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="FDLGNVolumen_@item.Item" value="@item.Volumen"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="FDLGNRiqueza_@item.Item" value="@item.Riqueza"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="FDLGNContenido_@item.Item" value="@item.Contenido"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="FDLGNFactoresDistribucion_@item.Item" value="@item.FactoresDistribucion"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="FDLGNAsignacionGns_@item.Item" value="@item.AsignacionGns"></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                </div>

                <div class="container mt-3">
                    <div class="card border-thick">
                        <div class="card-body row">
                            <div class="col-md-6">
                                <div class="row mb-2 data-row">
                                    <div class="col-6 col-md-4">
                                        <label class="font-weight-bold">Gravedad especifica (Kg/L) GLP :</label>
                                    </div>
                                    <div class="col-3 col-md-4">
                                        <input type="text" class="form-control form-report only-number text-right" id="GravedadEspecifica" value="@Model.Dato?.GravedadEspecifica">
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="row mb-2 data-row">
                                    <div class="col-6 col-md-4">
                                        <label class="font-weight-bold">Volumen de Producción Total de GLP CNPC</label>
                                    </div>
                                    <div class="col-3 col-md-4">
                                        <input type="text" class="form-control form-report only-number text-right" id="VolumenProduccionTotalGlpCnpc" value="@Model.Dato?.VolumenProduccionTotalGlpCnpc">
                                    </div>
                                    <div class="col-3 col-md-4">
                                        <label>(Bls)</label>
                                    </div>
                                </div>
                                <div class="row mb-2 data-row">
                                    <div class="col-6 col-md-4">
                                        <label class="font-weight-bold">Volumen de Producción Total de CGN CNPC</label>
                                    </div>
                                    <div class="col-3 col-md-4">
                                        <input type="text" class="form-control form-report only-number text-right" id="VolumenProduccionTotalCgnCnpc" value="@Model.Dato?.VolumenProduccionTotalCgnCnpc">
                                    </div>
                                    <div class="col-3 col-md-4">
                                        <label>(Bls)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


            <!-- Cuadro Firma -->
            <div class="w-100 mt-20">
                <img src="@Url.Content(Model.Dato?.General?.UrlFirma)" style="max-width:220px;" />
            </div>




            <div class="w-100 mt-10 mb-10 text-right">
                <button id="btnGuardar" class="btn btn-success btn-lg">Guardar</button>

                <button id="btnDescargarExcel" class="btn btn-primary btn-lg">Descargar</button>


            </div>



        </div>
    </div>
</div>

