@page
@model Unna.OperationalReport.WebSite.Pages.Admin.IngenieroProceso.Reporte.Mensual.BoletaProcesamientoGnaLoteIv.IndexModel
@{
}

<input type="hidden" id="__URL_OBTENER_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/BoletaProcesamientoGnaLoteIv/Obtener")" />
<input type="hidden" id="__URL_GUARDAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/BoletaProcesamientoGnaLoteIv/Guardar")" />
<input type="hidden" id="__HD_URL_GENERAR_REPORTE_EXCEL" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/BoletaProcesamientoGnaLoteIv/GenerarExcel")" />
<input type="hidden" id="__HD_URL_GENERAR_REPORTE_PDF" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/BoletaProcesamientoGnaLoteIv/GenerarPdf")" />

@section Styles {
    <link href="~/css/reportes.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/admin/ingenieroproceso/reporte/mensual/boletaprocesamientognaloteiv/index.js?v=1.0"></script>
}



<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table tbl-resumen-ventas w-100">
                <tbody>
                    <tr>
                        <td rowspan="3"><img src="@Url.Content("~/images/logo.png")" alt="Unna Energía Logo" style="width: 11rem;"></td>

                        <td rowspan="3">
                            <h2>@Model.Dato?.NombreReporte</h2>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-10">
        <div class="col-md-12 row mb-2 data-row">
            <div class="col-6 col-md-4">
                <h4> Mes: <b>@Model.Dato.Mes</b></h4>
            </div>
            <div class="col-3 col-md-4">
                <h4> Año: <b>@Model.Dato.Anio </b> </h4>
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <div>
            </div>
            <table class="table table-bordered tbl-resumen-ventas">
                <thead>
                    <tr>
                        <th>DIA</th>
                        <th>VOLUMEN <br /> (MPC)</th>
                        <th>
                            PODER CALORÍFICO<br />
                            (BTU/PC)
                        </th>
                        <th>
                            ENERGIA<br />
                            (MMBTU)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Dato?.Valores)
                    {
                        <tr class="list-datos-tabla" data-id-dato="@item.Id">
                            <td>@item.Dia</td>
                            <td><input type="text" class="form-control form-report only-number text-right" id="tbVolumen_@item.Id" value="@item.Volumen"></td>
                            <td><input type="text" class="form-control form-report only-number text-right" id="tbPoderCalorifico_@item.Id" value="@item.PoderCalorifico"></td>
                            <td><input type="text" class="form-control form-report only-number text-right" id="tbEnergia_@item.Id" value="@item.Energia"></td>
                        </tr>
                    }

                    <tr>
                        <td>TOTAL</td>
                        <td><input type="text" class="form-control form-report only-number text-right" id="txtTotalVolumen" value="@Model.Dato.TotalVolumen"></td>
                        <td><input type="text" class="form-control form-report only-number text-right" id="txtTotalPc" value="@Model.Dato.TotalPc"></td>
                        <td><input type="text" class="form-control form-report only-number text-right" id="txtTotalEnergia" value="@Model.Dato.TotalEnergia"></td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="col-md-12">
            <div class="row mt-2">
                <div class="col-md-4">
                    <label class="font-weight-bold">Energía del volumen Procesado en MMBTU</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control form-report only-number text-right" id="txtEnergiaVolumenProcesado" value="@Model.Dato.EnergiaVolumenProcesado">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-4">
                    <label class="font-weight-bold">Precio en USD/MMBTU</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control form-report only-number text-right" id="txtPrecioUsd" value="@Model.Dato.PrecioUsd">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-4">
                    <label class="font-weight-bold">SUB TOTAL A FACTURAR USD</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control form-report only-number text-right" id="txtSubTotal" value="@Model.Dato.SubTotal">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-4">
                    <label class="font-weight-bold">IGV @Model.Dato.IgvCentaje %</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control form-report only-number text-right" id="txtIgv" value="@Model.Dato.Igv">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-4">
                    <label class="font-weight-bold">TOTAL A FACTURAR USD</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control form-report only-number text-right" id="txtTotalFacturar" value="@Model.Dato.TotalFacturar">
                </div>
            </div>

        </div>

        <div class="col-md-12 mt-10 row">
            <div class="col-md-4 text-center">
                <img src="@Url.Content(Model.Dato?.UrlFirma)" style="max-width:180px;height:100px;" />
                <p class="mb-0">____________________________</p>
                <p>UNNA ENERGIA S.A</p>
            </div>
        </div>


        <div class="col-md-12 mt-10 mb-10">
            <div class="row d-flex justify-content-end">
                <button class="btn btn-primary mr-2" id="btnGuardar"><i class="far fa-save"></i> Guardar</button>
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-print"></i> Descargar
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" id="btnDescargarExcel" href="javascript:void(0)">Excel</a>
                        <a class="dropdown-item" id="btnDescargarPdf" href="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/BoletaProcesamientoGnaLoteIv/GenerarPdf")">PDF</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
