@page
@model Unna.OperationalReport.WebSite.Pages.Admin.IngenieroProceso.Reporte.Diario.ReporteOperacionUnna.IndexModel
@{
}


@section Styles {
    <link href="~/css/reportes.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/admin/ingenieroproceso/reporte/diario/ReporteOperacionUnna/index.js"></script>
}

<input type="hidden" id="__HD_URL_GENERAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/diario/ReporteOperacionUnna/GenerarExcel")" />

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table tbl-resumen-ventas w-100">
                <tbody>
                    <tr>
                        <td rowspan="2"><img src="~/images/logo.png" alt="Unna Energía Logo" style="width: 11rem;"></td>
                        <td rowspan="2">
                            <h2>Reporte Operativo del Procesamiento de Gas Natural y Líquidos de Gas Natural</h2>
                        </td>
                        <td>UNNA ENERGÍA - ENEL</td>
                    </tr>
                    <tr>
                        <td>Versión 01</td>
                    </tr>
                </tbody>
            </table>


            <div class="container mt-3">
                <div class="container mt-3">
                    <div class="row">
                        <div class="w-100 mt-5 mb-1">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:400px;float: left;">
                                <tbody>

                                    <tr>
                                        <td><b>Reporte Nro. :</b></td>
                                        <td><b>@Model.Dato.ReporteNro</b> </td>
                                    </tr>

                                    <tr>
                                        <td><b>Empresa :</b></td>
                                        <td><b>@Model.Dato.Empresa</b> </td>
                                    </tr>

                                    <tr>
                                        <td><b>Fecha de Emisión :</b></td>
                                        <td><b>@Model.Dato.FechaEmision</b> </td>
                                    </tr>

                                </tbody>
                            </table>
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:400px;float: right;">
                                <tbody>
                                    <tr>
                                        <td><b>Dia Operativo :</b></td>
                                        <td><b>@Model.Dato.DiaOperativo</b> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>

                    <h5 class="mb-5 mt-1 w-100">PLANTA DE SEPARACIÓN DE GAS NATURAL - UNNA</h5>
                    <table class="table table-bordered tbl-resumen-ventas" style="max-width:600px">
                        <tbody>
                            <tr>
                                <td><b>CAPACIDAD DE DISEÑO DE PLANTA UNNA</b></td>
                                <td><input type="text" class="form-control form-report text-center" value="@Model.Dato?.PlantaSepGasNat?.CapacidadDisPlanta "></td>
                                <td><b>MMPCD</b></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="w-100 mt-5 mb-1">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:400px;float: left;">
                                <tbody>
                                    <tr>
                                        <td colspan="2" align="left"><b>PROCESAMIENTO DE GAS NATURAL</b></td>
                                    </tr>
                                    <tr>
                                        <td><b>GAS NATURAL</b></td>
                                        <td><b>VOLUMEN (MMPCD)(1)</b></td>
                                    </tr>
                                    <tr>
                                        <td><b>GAS NATURAL HÚMEDO</b></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.PlantaSepGasNat.VolumenGasNatHumedo"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="left"><b>GAS NATURAL SECO:</b></td>
                                    </tr>
                                    <tr>
                                        <td><b>REINYECTADO - FLARE</b></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.PlantaSepGasNat.VolumenGasNatSecoReinyFlare"></td>
                                    </tr>
                                    <tr>
                                        <td><b>VENTAS (ENEL +  LIMAGAS + GASNORP + PETROPERU)</b></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.PlantaSepGasNat.VolumenGasNatSecoVentas"></td>
                                    </tr>
                                    <tr>
                                        <td><b>TOTAL</b></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.PlantaSepGasNat.ProcGasNatSecoTotal"></td>
                                    </tr>

                                </tbody>
                            </table>
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:400px;float: right;">
                                <tbody>
                                    <tr>
                                        <td colspan="2" align="left"><b>PRODUCCIÓN DE LGN EN PLANTA UNNA</b></td>
                                    </tr>
                                    <tr>
                                        <td><b>PLANTA UNNA</b></td>
                                        <td><b>LGN</b></td>
                                    </tr>
                                    <tr>
                                        <td><b>VOLUMEN DE LGN PRODUCIDO (BPD)</b></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.PlantaSepGasNat.VolumenLgnProducidoPlanta"></td>
                                    </tr>
                                    <tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="text-bg-dark p-3">
                        <h5 class="mb-5 mt-1 w-100">PLANTA DE FRACCIONAMIENTO DE LÍQUIDO DE GAS NATURAL - UNNA</h5>
                    </div>


                    <div class="row">
                        <div class="w-100 mt-5 mb-1">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:400px;float: left;">
                                <tbody>
                                    <tr>
                                        <td colspan="2" align="left"><b>PPROCESAMIENTO DE LÍQUIDOS DE GAS NATURAL (LGN) - UNNA</b></td>
                                    </tr>
                                    <tr>
                                        <td><b>PLANTA UNNA</b></td>
                                        <td><b>VOLUMEN DE LGN PROCESADO(2) (BPD)(3)</b></td>
                                    </tr>
                                    <tr>
                                        <td><b>LGN</b></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.PlantaFracLiqGasNat.VolumenLgnProcesado"></td>
                                    </tr>
                                </tbody>
                            </table>
                            
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:400px;float: right;">
                                <tbody>
                                    <tr>
                                        <td colspan="2" align="left"><b>PRODUCTOS OBTENIDOS EN PLANTA - UNNA</b></td>
                                    </tr>
                                    <tr>
                                        <td><b>PRODUCTOS OBTENIDOS</b></td>
                                        <td><b>VOLUMEN DE LGN PRODUCIDO (BPD)</b></td>
                                    </tr>
                                    <tr>
                                        <td><b>CGN(4)</b></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.PlantaFracLiqGasNat.VolumenLgnProducidoCgn"></td>
                                    </tr>
                                    <tr>
                                        <td><b>GLP</b></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.PlantaFracLiqGasNat.VolumenLgnProducidoGlp"></td>
                                    </tr>
                                    <tr>
                                        <td><b>TOTAL</b></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.PlantaFracLiqGasNat.VolumenLgnProducidoTotal"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="w-100 mt-5 mb-1">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:400px;float: right;">
                                <tbody>
                                    <tr>
                                        <td colspan="2" align="left"><b>ALMACENAMIENTO DE PRODUCTOS LÍQUIDOS - STOCK</b></td>
                                    </tr>
                                    <tr>
                                        <td><b>PRODUCTOS</b></td>
                                        <td><b>VOLUMEN DE PRODUCTOS (BPD)</b></td>
                                    </tr>
                                    <tr>
                                        <td><b>CONDENSADOS DE LGN</b></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.PlantaFracLiqGasNat.VolumenProductosCondensadosLgn"></td>
                                    </tr>
                                    <tr>
                                        <td><b>GLP</b></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.PlantaFracLiqGasNat.VolumenProductosGlp"></td>
                                    </tr>
                                    <tr>
                                        <td><b>TOTAL</b></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.PlantaFracLiqGasNat.VolumenProductosTotal"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
            
            <!-- Cuadro N° 3-->
            <div class="text-bg-dark p-3">
                <h5 class="mb-5 mt-1 w-100">EVENTOS OPERATIVOS</h5>
            </div>

            <div class="col">
                <label>@Model.Dato.PlantaFracLiqGasNat.EventosOperativos</label>
            </div>

            <!-- Cuadro Firma -->
            <div class="w-100 mt-20">
                <img src="~/images/firmas/FIRMA RSC.jpeg" style="max-width:220px;" />
            </div>

            <div class="w-100 mt-10 mb-10 text-right">
                <button id="btnDescargarExcel" class="btn btn-primary btn-lg">Descargar Excel</button>
            </div>
        </div>
    </div>
</div>

<script>



</script>