@page
@model Unna.OperationalReport.WebSite.Pages.Admin.IngenieroProceso.Reporte.Diario.ReporteOperacionUnna.IndexModel
@{
}


@section Styles {
    <link href="~/css/reportes.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/admin/ingenieroproceso/reporte/diario/ReporteOperacionUnna/index.js?v=1.0"></script>
}

<input type="hidden" id="__HD_URL_GENERAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/diario/ReporteOperacionUnna/GenerarExcel")" />
<input type="hidden" id="__URL_OBTENER_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/diario/ReporteOperacionUnna/Obtener")" />
<input type="hidden" id="__URL_GUARDAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/diario/ReporteOperacionUnna/Guardar")" />

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table tbl-resumen-ventas w-100">
                <tbody>
                    <tr>
                        <td><img src="@Url.Content("~/images/logo.png")" alt="Unna Energía Logo" style="width: 11rem;"></td>
                        <td>
                            <h2>@Model.Dato?.General?.NombreReporte</h2>
                        </td>
                    </tr>
                </tbody>
            </table>


            <div class="container mt-3">
                <div class="container mt-3">
                    <div class="row">
                        <div class="w-100 mt-5 mb-1">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:400px;float: left;">
                                <tbody>

                                    <tr>
                                        <td><b>Reporte Nro. :</b></td>
                                        <td><b>@Model.Dato.ReporteNro</b> </td>
                                    </tr>

                                    <tr>
                                        <td><b>Empresa :</b></td>
                                        <td><b>@Model.Dato.Empresa</b> </td>
                                    </tr>

                                    <tr>
                                        <td><b>Fecha de Emisión :</b></td>
                                        <td><b>@Model.Dato.FechaEmision</b> </td>
                                    </tr>

                                </tbody>
                            </table>
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:400px;float: right;">
                                <tbody>
                                    <tr>
                                        <td><b>Dia Operativo :</b></td>
                                        <td><b>@Model.Dato.DiaOperativo</b> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>



                    <div class="row mt-5">
                        <div class="col-md-12">
                            <h5 class="mb-5 mt-1 w-100">PLANTA DE SEPARACIÓN DE GAS NATURAL - UNNA</h5>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:600px">
                                <tbody>
                                    <tr>
                                        <td><b>CAPACIDAD DE DISEÑO DE PLANTA UNNA</b></td>
                                        <td>                                            
                                            <div class="input-group">
                                                <input type="text" class="form-control form-report only-number text-right" id="txtCapacidadDisenio" value="@Model.Dato?.CapacidadDisenio ">
                                                <div class="input-group-append"><span class="input-group-text">MMPCD</span></div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="col-md-6">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:600px;float: left;">
                                <thead>
                                    <tr>
                                        <th colspan="2" align="left"><b>PROCESAMIENTO DE GAS NATURAL</b></th>
                                    </tr>
                                    <tr>
                                        <th><b>GAS NATURAL</b></th>
                                        <th><b>VOLUMEN (MMPCD)(1)</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><b>@Model.Dato.ProcesamientoGasNatural.Nombre</b></td>
                                        <td><input type="text" class="form-control form-report text-center" id="txtProcesamientoGNVolumen" value="@Model.Dato.ProcesamientoGasNatural.Volumen"></td>
                                    </tr>
                                </tbody>
                                <thead>
                                    <tr>
                                        <th colspan="2" align="left"><b>GAS NATURAL SECO:</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Dato.ProcesamientoGasNaturalSeco)
                                    {
                                        <tr class="data-tbl-Procesamiento-gasnatural-seco" data-id-dato="@item.Item">
                                            <td><b>@item.Nombre</b></td>
                                            <td><input type="text" class="form-control form-report text-center" id="txtProcGasNaturalSeco_@item.Item" value="@item.Volumen"></td>
                                        </tr>
                                    }
                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:600px;">
                                <thead>
                                    <tr>
                                        <th colspan="2" align="left"><b>PRODUCCIÓN DE LGN EN PLANTA UNNA</b></th>
                                    </tr>
                                    <tr>
                                        <th><b>PLANTA UNNA</b></th>
                                        <th><b>LGN</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><b>@Model.Dato.ProduccionLgn.Nombre</b></td>
                                        <td><input type="text" class="form-control form-report text-center" id="txtProduccionLgnVolumen" value="@Model.Dato.ProduccionLgn.Volumen"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>




                    <div class="row mt-5">
                        <div class="col-md-12">
                            <h4 class="mb-5 mt-1 w-100">PLANTA DE FRACCIONAMIENTO DE LÍQUIDO DE GAS NATURAL - UNNA</h4>
                        </div>
                        <div class="col-md-6">

                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:600px;">
                                <thead>
                                    <tr>
                                        <th colspan="2"><b>PROCESAMIENTO DE LÍQUIDOS DE GAS NATURAL (LGN) - UNNA</b></th>
                                    </tr>
                                    <tr>
                                        <th><b>PLANTA UNNA</b></th>
                                        <th><b>VOLUMEN DE LGN PROCESADO(2) (BPD)(3)</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><b>@Model.Dato.ProcesamientoLiquidos.Nombre</b></td>
                                        <td><input type="text" class="form-control form-report text-center" id="txtProcesamientoLiquidos" value="@Model.Dato.ProcesamientoLiquidos.Volumen"></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>


                        <div class="col-md-6">


                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:600px;">
                                <thead>
                                    <tr>
                                        <th colspan="2"><b>PRODUCTOS OBTENIDOS EN PLANTA - UNNA</b></th>
                                    </tr>
                                    <tr>
                                        <th><b>PRODUCTOS OBTENIDOS</b></th>
                                        <th><b>VOLUMEN DE LGN PRODUCIDO (BPD)</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Dato.ProductosObtenido)
                                    {
                                        <tr class="data-tbl-productos-obtenidos" data-id-dato="@item.Item">
                                            <td><b>@item.Nombre</b></td>
                                            <td><input type="text" class="form-control form-report text-center" id="txtProdObtenidoVolumen_@item.Item" value="@item.Volumen"></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>


                    </div>

                    <div class="row mt-5 mb-1">
                        <div class="col-md-6">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:600px;">
                                <thead>
                                    <tr>
                                        <th colspan="2"><b>ALMACENAMIENTO DE PRODUCTOS LÍQUIDOS - STOCK</b></th>
                                    </tr>
                                    <tr>
                                        <th><b>PRODUCTOS</b></th>
                                        <th><b>VOLUMEN DE PRODUCTOS (BPD)</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Dato?.Almacenamiento)
                                    {
                                        <tr class="data-tbl-almacenamiento" data-id-dato="@item.Item">
                                            <td><b id="TblAlmacenamientoNombre_@item.Item">@item.Nombre</b></td>
                                            <td><input type="text" class="form-control form-report text-center" id="TblAlmacenamientoVol_@item.Item" value="@item.Volumen"></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="row mt-5">
                        <div class="col-md-12">
                            <h5 class="w-100">EVENTOS OPERATIVOS</h5>
                        </div>
                        <div class="col-md-11" >
                            <textarea class="form-control" id="txt_EventoOperativo" style="height:8rem;">@Model.Dato.EventoOperativo</textarea>
                        </div>
                    </div>

                </div>

            </div>

            <div class="w-100 mt-10 mb-10">
                <div class="row d-flex justify-content-end">
                    <button class="btn btn-primary mr-2" id="btnGuardar"><i class="far fa-save"></i> Guardar</button>
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-print"></i> Descargar
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" id="btnDescargarExcel" href="javascript:void(0)">Excel</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

