@page
@model Unna.OperationalReport.WebSite.Pages.Admin.IngenieroProceso.Reporte.Mensual.BoletaSuministroGNSdelLoteIVaEnel.IndexModel
@{
}
<input type="hidden" id="__URL_OBTENER_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/BoletaSuministroGNSdelLoteIVaEnel/Obtener")" />
<input type="hidden" id="__URL_GUARDAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/BoletaSuministroGNSdelLoteIVaEnel/Guardar")" />
<input type="hidden" id="__URL_GENERAR_REPORTE_EXCEL" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/BoletaSuministroGNSdelLoteIVaEnel/GenerarExcel")" />
<input type="hidden" id="__URL_GENERAR_REPORTE_PDF" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/BoletaSuministroGNSdelLoteIVaEnel/GenerarPdf")" />


@section Styles {
    <link href="~/css/reportes.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/admin/ingenieroproceso/reporte/mensual/BoletaSuministroGNSdelLoteIVaEnel/index.js?v=sdsa"></script>

}

<div class="container">
    <div class="row">
        <div class="col-12">
            <table>
                <tbody>
                    <tr>
                        <td rowspan="3"><img src="@Url.Content("~/images/logo.png")" alt="Unna Energía Logo" style="width: 11rem;" align="left"></td>
                    </tr>

                </tbody>
            </table>
            <table width="1500">
                <tbody align="center">
                    <tr>
                        <td>
                            <h2><u>UNNA ENERGIA S.A.</u></h2>

                        </td>

                    </tr>
                    <tr>
                        <td>
                            <h2>@Model.Dato.NombreReporte</h2>
                        </td>

                    </tr>

                </tbody>
            </table>
            <!-- Cuadro N° 2 -->
            <div class="container mt-10">

                <table width="1500">
                    <tbody align="center">
                        <tr>
                            <td>
                                <b>Periodo: </b>

                            </td>

                            <td>
                                <h4 class="text-left">@Model?.Dato?.Periodo</h4>
                            </td>

                        </tr>

                    </tbody>
                </table>
                <div class="container mt-3">
         
                    <table class="table table-bordered tbl-resumen-ventas">
                        <thead>
                            <tr>
                                <th rowspan="2">Fecha</th>
                                <th>Volumen</th>
                                <th>Poder Calorífico</th>
                                <th>Energía</th>
                            </tr>
                            <tr>
                                <th>MPC</th>
                                <th>BTU/PC</th>
                                <th>MMBTU</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model?.Dato?.BoletaSuministroGNSdelLoteIVaEnelDet != null)
                            {
                                @foreach (var item in Model.Dato?.BoletaSuministroGNSdelLoteIVaEnelDet)
                                {
                                    var FechaSinSlashes = item.Fecha.Replace("/", "");
                                    <tr class="list-datos-tabla" data-id-dato="@FechaSinSlashes">
                                        <td>@item.Fecha</td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="volumneMPC_@FechaSinSlashes" value="@item.Volumen"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="pCBTUPC_@FechaSinSlashes" value="@item.PoderCalorifico"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="energiaMMBTU_@FechaSinSlashes" value="@item.Energia"></td>
                                    </tr>
                                }
                            }

                            <tr>
                                <td>Total</td>
                                <td><input type="text" class="form-control form-report only-number text-right" id="totalVolumenMPC" value="@Model?.Dato?.TotalVolumen"></td>
                                <td><input type="text" class="form-control form-report only-number text-right" id="totalPCBTUPC" value="@Model?.Dato?.TotalPoderCalorifico"></td>
                                <td><input type="text" class="form-control form-report only-number text-right" id="totalEnergiaMMBTU" value="@Model?.Dato?.TotalEnergia"></td>
                            </tr>

                        </tbody>
                    </table>


                </div>
            </div>
            <div class="container mt-3">
                <div class="card border-thick">
                    <div class="card-body row">
                        <div class="col-md-6">
                            <div class="row mb-2 data-row">
                                <div class="col-6 col-md-6">
                                    <label class="font-weight-bold">Energía del volumen transferido en MMBTU :</label>
                                </div>
                                <div class="col-3 col-md-4">
                                    <input type="text" class="form-control form-report only-number text-right" id="totalEnergiaVolTransferidoMMBTU" value="@Model?.Dato?.TotalEnergiaTransferido">

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="card border-thick">
                    <div class="card-body row">                       
                        <div class="col-md-12">
                            <h5 class="w-100">Comentarios</h5>
                        </div>
                        <div class="col-md-12">
                            <textarea class="form-control" id="txtComentarios" style="height:8rem;">@Model.Dato.Comentarios</textarea>
                        </div>

                    </div>
                </div>
            </div>


            <div class="w-100 mt-10 mb-10">
                <div class="row d-flex justify-content-end">
                    <button class="btn btn-primary mr-2" id="btnGuardar"><i class="far fa-save"></i> Guardar</button>
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-print"></i> Descargar
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" id="btnDescargarExcel" href="javascript:void(0)">Excel</a>
                            <a class="dropdown-item" id="btnDescargarPdf" href="javascript:void(0)">PDF</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

