@page
@model Unna.OperationalReport.WebSite.Pages.Admin.IngenieroProceso.Reporte.Mensual.BoletaSuministroGNSdelLoteIVaEnel.IndexModel
@{
}
<input type="hidden" id="__URL_OBTENER_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/BoletaSuministroGNSdelLoteIVaEnel/Obtener")" />
<input type="hidden" id="__URL_GUARDAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/BoletaSuministroGNSdelLoteIVaEnel/Guardar")" />
<input type="hidden" id="__URL_GENERAR_REPORTE_EXCEL" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/BoletaSuministroGNSdelLoteIVaEnel/GenerarExcel")" />
<input type="hidden" id="__URL_GENERAR_REPORTE_PDF" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/BoletaSuministroGNSdelLoteIVaEnel/GenerarPdf")" />


@section Styles {
    <link href="~/css/reportes.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/admin/ingenieroproceso/reporte/mensual/BoletaSuministroGNSdelLoteIVaEnel/index.js"></script>

}

@* <input type="hidden" id="__HD_URL_GENERAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/BoletaSuministroGNSdelLoteIVaEnel/GenerarExcel")" />
<input type="hidden" id="__HD_URL_GENERAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/BoletaSuministroGNSdelLoteIVaEnel/GenerarPdf")" /> *@

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table tbl-resumen-ventas w-100">
                <tbody>
                    <tr>
                        <td rowspan="3"><img src="@Url.Content("~/images/logo.png")" alt="Unna Energía Logo" style="width: 11rem;"></td>
                        
                        <td rowspan="3" >
                            <h2>UNNA ENERGIA S.A.</h2>
                            <h2>BOLETA DE SUMINISTRO DE GNS DEL LOTE IV A ENEL GENERACION PIURA S.A.</h2>
                        </td>
                        <td colspan="2" style="background-color:dodgerblue"><b>UNNA-ENERGIA</b></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="background-color:dodgerblue">
                            <b> Versión 1</b>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- Cuadro N° 2 -->
            <div class="container mt-10">
                <h3 class="text-left">Periodo: @Model.Dato.Periodo </h3>
                <div class="container mt-3">
                    <table class="table table-bordered thick-border">
                        <thead>
                            <tr>
                                <th colspan="1" rowspan="2" class="text-center" style="background-color:#DAEEF3"><font size=2 color="Black">Fecha</font></th>
                                <th colspan="1" class="text-center" style="background-color:#DAEEF3"><font size=2 color="Black">Volumen</font></th>
                                <th colspan="1" class="text-center" style="background-color:#DAEEF3"><font size=2 color="Black">Poder Calorífico</font></th>
                                <th colspan="1" class="text-center" style="background-color:#DAEEF3"><font size=2 color="Black">Energía</font></th>    
                            </tr>
                            
                            <tr>
                                <th colspan="1" class="text-center" style="background-color:#DAEEF3"><span class="text-muted"><font size=2 color="Black">MPC</font></span></th>
                                <th colspan="1" class="text-center" style="background-color:#DAEEF3"><span class="text-muted"><font size=2 color="Black">BTU/PC</font></span></th>
                                <th colspan="1" class="text-center" style="background-color:#DAEEF3"><span class="text-muted"><font size=2 color="Black">MMBTU</font></span></th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model.Dato.BoletaSuministroGNSdelLoteIVaEnelDet){
                            <tr>
                                    <td><input type="text" class="form-control" value="@item.Fecha"></td>
                                    <td><input type="text" class="form-control form-report only-number text-right" value="@item.VolumneMPC"></td>
                                    <td><input type="text" class="form-control form-report only-number text-right" value="@item.PCBTUPC"></td>
                                    <td><input type="text" class="form-control form-report only-number text-right" value="@item.EnergiaMMBTU"></td>
                            </tr>
                            }
                           
                            <tr>
                                <td><font size=3>Total</font></td>
                                <td><input type="text" class="form-control form-report only-number text-right" value="@Model.Dato.TotalVolumenMPC"></td>
                                <td><input type="text" class="form-control form-report only-number text-right" value="@Model.Dato.TotalPCBTUPC"></td>
                                <td><input type="text" class="form-control form-report only-number text-right" value="@Model.Dato.TotalEnergiaMMBTU"></td>
                                
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="container mt-3">
                    <div class="card border-thick">
                        <div class="card-body row">
                            <div class="col-md-6">
                                <div class="row mb-2 data-row">
                                <div class="col-6 col-md-4" >
                                    <label class="font-weight-bold" >Energía del volumen transferido en MMBTU :</label>
                                    </div>
                                    <div class="col-3 col-md-4">
                                    <b>@Model.Dato.TotalEnergiaVolTransferidoMMBTU</b>
                                    </div>
                                </div>

                            </div>
                            
                        </div>
                    </div>
            </div>
            <div class="container mt-3">
                <div class="card border-thick">
                    <div class="card-body row">
                        <div class="col-md-6">
                            <div class="row mb-2 data-row">
                                <div class="col-3 col-md-4">
                                    <label class="font-weight-bold" ><b>Comentarios</b></label>
                                </div>
                            </div>
                            <div class="row mb-2 data-row">
                                <div class="col-6 col-md-4">
                                    <input type="text" class="font-weight-bold" size="100" />
                                </div>  
                            </div> 
                        </div>

                    </div>
                </div>
            </div>
           
            
            <div class="w-100 mt-10 mb-10">
                <div class="row d-flex justify-content-end">
                    <button class="btn btn-primary mr-2" id="btnGuardar"><i class="far fa-save"></i> Guardar</button>
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-print"></i> Descargar
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" id="btnDescargarExcel" href="javascript:void(0)">Excel</a>
                            <a class="dropdown-item" id="btnDescargarPdf" href="javascript:void(0)">PDF</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

