@page
@model Unna.OperationalReport.WebSite.Pages.Admin.IngenieroProceso.Reporte.Mensual.BoletaSuministroGNSdelLoteIVaEnel.IndexModel
@{
}


<input type="hidden" id="__URL_OBTENER_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/BoletaSuministroGNSdelLoteIVaEnel/Obtener")" />
<input type="hidden" id="__URL_GUARDAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/BoletaSuministroGNSdelLoteIVaEnel/Guardar")" />


@section Styles {
    <link href="~/css/reportes.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/admin/ingenieroproceso/reporte/mensual/BoletaSuministroGNSdelLoteIVaEnel/index.js"></script>

}

<input type="hidden" id="__HD_URL_GENERAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/BoletaSuministroGNSdelLoteIVaEnel/GenerarExcel")" />

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table tbl-resumen-ventas w-100">
                <tbody>
                    <tr>
                        <td rowspan="3"><img src="@Url.Content("~/images/logo.png")" alt="Unna Energía Logo" style="width: 11rem;"></td>
                        
                        <td rowspan="3" >
                            <h2>UNNA ENERGIA S.A.</h2>
                            <h2>BOLETA DE SUMINISTRO DE GNS DEL LOTE IV A ENEL GENERACION PIURA S.A.</h2>
                        </td>
                        <td colspan="2" style="background-color:dodgerblue"><b>UNNA-ENERGIA</b></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="background-color:dodgerblue">
                            <b> Versión 1</b>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- Cuadro N° 2 -->
            <div class="container mt-10">
                <h3 class="text-left">Periodo: @Model.Dato.Periodo </h3>
                <div class="container mt-3">
                    <table class="table table-bordered thick-border">
                        <thead>
                            <tr>
                                <th colspan="1" rowspan="2" class="text-center" style="background-color:#DAEEF3"><font size=2 color="Black">Fecha</font></th>
                                <th colspan="1" class="text-center" style="background-color:#DAEEF3"><font size=2 color="Black">Volumen</font></th>
                                <th colspan="1" class="text-center" style="background-color:#DAEEF3"><font size=2 color="Black">Poder Calorífico</font></th>
                                <th colspan="1" class="text-center" style="background-color:#DAEEF3"><font size=2 color="Black">Energía</font></th>    
                            </tr>
                            
                            <tr>
                                <th colspan="1" class="text-center" style="background-color:#DAEEF3"><span class="text-muted"><font size=2 color="Black">MPC</font></span></th>
                                <th colspan="1" class="text-center" style="background-color:#DAEEF3"><span class="text-muted"><font size=2 color="Black">BTU/PC</font></span></th>
                                <th colspan="1" class="text-center" style="background-color:#DAEEF3"><span class="text-muted"><font size=2 color="Black">MMBTU</font></span></th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model.Dato.BoletaSuministroGNSdelLoteIVaEnelDet){
                            <tr>
                                    <td><font size="1">@item.Fecha</font></td>
                                    <td><font size="1">@item.VolumneMPC</font></td>
                                    <td><font size="1">@item.PCBTUPC</font></td>
                                    <td><font size="1">@item.EnergiaMMBTU</font></td>
                            </tr>
                            }
                           
                            <tr>
                                <td><font size=1>Total</font></td>
                                <td><font size=1>@Model.Dato.TotalVolumenMPC</font></td>
                                <td><font size=1>@Model.Dato.TotalPCBTUPC</font></td>
                                <td><font size=1>@Model.Dato.TotalEnergiaMMBTU</font></td>
                                
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="container mt-3">
                    <div class="card border-thick">
                        <div class="card-body row">
                            <div class="col-md-6">
                                <div class="row mb-2 data-row">
                                <div class="col-6 col-md-4" >
                                    <label class="font-weight-bold" >Energía del volumen transferido en MMBTU :</label>
                                    </div>
                                    <div class="col-3 col-md-4">
                                    <b>@Model.Dato.TotalEnergiaVolTransferidoMMBTU</b>
                                    </div>
                                </div>

                            </div>
                            
                        </div>
                    </div>
            </div>
            <div class="container mt-3">
                <div class="card border-thick">
                    <div class="card-body row">
                        <div class="col-md-6">
                            <div class="row mb-2 data-row">
                                <div class="col-3 col-md-4">
                                    <label class="font-weight-bold" ><b>Comentarios</b></label>
                                </div>
                            </div>
                            <div class="row mb-2 data-row">
                                <div class="col-6 col-md-4">
                                    <input type="text" class="font-weight-bold" size="100" />
                                </div>  
                            </div> 
                        </div>

                    </div>
                </div>
            </div>
            @* observaciones *@
           @*  <div class="container mt-3">
                <div class="card border-thick">
                    <div class="card-body row">
                        <div class="col-md-6">
                            <div class="row mb-2 data-row">
                                <div class="col-6 col-md-4">
                                    <label class="font-weight-bold"><b>Observaciones</b></label>
                                </div>
                                <div class="col-3 col-md-4">
                                    
                                </div>
                            </div>
                            <div class="row mb-2 data-row">
                                <div class="col-6 col-md-4">
                                    <label class="font-weight-bold">Emergencia operativa del 18 al 21 de diciembre de UNNA Energía debido de intervención del Ducto N°12. Volumen de maquila suspendido de maquila:</label>
                                </div>
                                <div style="width:5%">
                                    <b> @Model.Dato.Observacion1</b>
                                </div>
                                <div style="width:10%">
                                    <b> MMPCSD </b>
                                </div>
                            </div>
                            <div class="row mb-2 data-row">
                                <div class="col-6 col-md-4">
                                    <label class="font-weight-bold">Emergencia operativa del 18 al 21 de diciembre de PETROPERU debido de intervención del Ducto N°12. Volumen de GNA dejado de entregar:</label>
                                </div>
                                <div style="width:5%">
                                    <b> @Model.Dato.Observacion2 </b>
                                </div>
                                <div style="width:10%">
                                    <b> MMPCSD </b>
                                </div>
                            </div>
                            <div class="row mb-2 data-row">
                                <div class="col-6 col-md-4">
                                    <label class="font-weight-bold">Emergencia operativa de PETROPERU debido de intervención a compresor de campo del Lote I. Volumen de GNA dejado de entregar:</label>
                                </div>
                                <div style="width:5%">
                                    <b> @Model.Dato.Observacion3 </b>
                                </div>
                                <div style="width:10%">
                                    <b> MMPCSD </b>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div> *@
            @* firma *@
            <div class="container mt-3" >
                <div class="card border-thick" >
                    <div class="w-100 mt-20" style="text-align:center">
                        <label class="font-weight-bold">FIRMA1</label>
                        <label class="font-weight-bold">FIRMA2</label>
                        @* <img src="@Url.Content(Model.Dato.General.UrlFirma)" style="max-width:220px;" /> *@
                    </div>
                    <div class="w-100 mt-20" style="text-align:center">
                        <label class="font-weight-bold">UNNA ENERGIA S.A.</label>
                        <label class="font-weight-bold">ENEL GENERACION PIURA S.A.</label>
                    </div>
                </div>
            </div>
            <div class="w-100 mt-10 mb-10 text-right">
                <button id="btnGuardar" class="btn btn-success btn-lg">Guardar</button>

                <button id="btnDescargarExcel" class="btn btn-primary btn-lg">Descargar</button>


            </div>
        </div>
    </div>
</div>

<script>



</script>