@page
@model Unna.OperationalReport.WebSite.Pages.Admin.IngenieroProceso.Reporte.Mensual.CalculoFacturaCpgnaFee50.IndexModel
@{
}

@section Styles {
    <link href="~/css/reportes.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/admin/ingenieroproceso/reporte/mensual/calculofacturacpgnafee50/index.js?d=33.1"></script>
}

<input type="hidden" id="__URL_OBTENER_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/CalculoFacturaCpgnaFee50/Obtener")" />
<input type="hidden" id="__URL_GUARDAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/CalculoFacturaCpgnaFee50/Guardar")" />

<input type="hidden" id="__URL_GUARDAR_PERIODO_PRECIO" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/CalculoFacturaCpgnaFee50/GuardarPrecio")" />
<input type="hidden" id="__URL_ELIMINAR_PERIODO_PRECIO" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/CalculoFacturaCpgnaFee50/EliminarPrecio/")" />

<input type="hidden" id="__URL_LISTAR_TIPOS_CAMBIO_MES" value="@Url.Content("~/api/mantenimiento/TipoCambio/ListarDelMes")" />
<input type="hidden" id="__URL_GUARDAR_DOCUMENTO_EXCEL" value="@Url.Content("~/api/mantenimiento/TipoCambio/ProcesarArchivo")" />


<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table tbl-resumen-ventas w-100">
                <tbody>
                    <tr>
                        <td rowspan="3">
                            <h2 id="tbNombreReporte"></h2>
                        </td>
                        <td rowspan="3"><img src="@Url.Content("~/images/logo.png")" alt="Unna Energía Logo" style="width: 11rem;"></td>


                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-10">
        <div class="col-md-12 mt-4">
            <h4 style="text-decoration: underline;">A) Determinación del PRef - (Precio de Lista del GLP de la Refinería de PETROPERU en Talara)</h4>
            <div class="row">
                <div class="col-md-7">

                    <table class="table table-bordered tbl-resumen-ventas">
                        <thead>
                            <tr>
                                <th colspan="2">Período</th>
                                <th>Precio GLP</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>DE:</th>
                                <th>A:</th>
                                <th>S/.Kg</th>
                                <th>N° de días</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tblPeriodoPrecios">
                        </tbody>
                    </table>
                    <div class="w-100 text-center">
                        <button type="button" class="btn btn-primary btn-sm" id="btnAgregarPeriodoPrecion" onclick=""><i class="flaticon-plus"></i> Agregar</button>

                    </div>
                    <div class="form-group mt-5">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    PRef promedio del período=
                                </span>
                            </div>
                            <input type="text" class="form-control only-number text-right" id="tbPrefpromedioPeríodo">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    S/.Kg
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mt-5">
                        <label class="col-4 col-form-label">Gravedad específica =</label>
                        <div class="col-8">
                            <input class="form-control form-control-sm only-number text-right" type="text" value="" id="tbGravedadEspecifica">
                            <span class="form-text text-muted">Kg/lt (referencia contrato GLP con Repsol)</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label">Factor =</label>
                        <div class="col-8">
                            <input class="form-control form-control-sm only-number text-right" type="text" value="" id="tbFactor">
                            <span class="form-text text-muted">Lt/gal</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label">Tipo cambio promedio =</label>
                        <div class="col-8">
                            <input class="form-control form-control-sm only-number text-right" type="text" value="" id="tbTipoCambioPromedio">
                            <span class="form-text text-muted">S/./US$)</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label">Pref del período =</label>
                        <div class="col-8">
                            <input type="text" class="form-control form-control-sm only-number text-right" id="PrefDelPeriodo">
                            <span class="form-text text-muted">US$/Bl</span>
                        </div>
                    </div>

                </div>
                <div class="col-md-5">

                    <table class="table table-bordered tbl-resumen-ventas" id="tblTipoCambioVisualizador">
                        <thead>
                            <tr>
                                <th colspan="2">TIPO DE CAMBIO (*)</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="w-100 text-center">
                        <button type="button" class="btn btn-success btn-sm" id="btnAgregarTipoCambio"><i class="flaticon-plus"></i> Actualizar</button>

                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-12 mt-4 w-100">
            <h4 style="text-decoration: underline;">B) Determinación del Precio de los Componentes Pesados.</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="m-2">
                        <h4><b>Fórmula:</b></h4>
                        <img src="@Url.Content("~/images/DeterminacionDelPrecioLosComponentesPesados.png")" style="max-width:280px;" />
                    </div>
                    <h4><b>Donde:</b></h4>
                    <div class="form-group row">
                        <label class="col-4 col-form-label">Pref.=</label>
                        <div class="col-8">
                            <input class="form-control form-control-sm only-number text-right" type="text" value="" id="tbPref">
                            <span class="form-text text-muted">US$/Barril.</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label">VGLP =</label>
                        <div class="col-8">
                            <input class="form-control form-control-sm only-number text-right" type="text" value="" id="tbVglp">
                            <span class="form-text text-muted">Barriles (Volumen total de GLP producido, según Boleta adjunta).</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label">VHAS =</label>
                        <div class="col-8">
                            <input class="form-control form-control-sm only-number text-right" type="text" value="" id="tbVhas">
                            <span class="form-text text-muted">Barriles (Volumen total de HAS producido, según Boleta adjunta).</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label">Precio =</label>
                        <div class="col-8">
                            <input type="text" class="form-control form-control-sm only-number text-right" id="tbPrecio">
                            <span class="form-text text-muted">US$/Barril </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-4 w-100">
            <h4 style="text-decoration: underline;">C) Determinación del Porcentaje de Contraprestación (% CM)</h4>
            <div class="row">
                <div class="col-md-12">

                    <h4><b>   Para:</b></h4>
                    <div class="form-group row">
                        <label class="col-4 col-form-label">   Precio =</label>
                        <div class="col-8">
                            <input class="form-control form-control-sm only-number text-right" type="text" value="" id="tbPrecioDeterminacion">
                            <span class="form-text text-muted">US$/Barril </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label">Volumen de Procesamiento GNA (promedio mensual) =</label>
                        <div class="col-8">
                            <input class="form-control form-control-sm only-number text-right" type="text" value="" id="tbVolumenProcesamientoGna">
                            <span class="form-text text-muted">MMPCD (Según Boleta adjunta de GNA).</span>
                            <span class="form-text text-muted">(volumen entre 12.00 a 19.99 MMPCD)</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Aplicando numeral 13.2 (iii) del Contrato, se obtiene:</label>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    % CM =
                                </span>
                            </div>
                            <input type="text" class="form-control only-number text-right" id="tbCm">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    %
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-4 w-100">
            <h4 style="text-decoration: underline;">D) Determinación de la Facturación por la Contraprestación del Suministro de Componentes Pesados  (CM_EEP)</h4>
            <div class="row">
                <div class="col-md-12">

                    <h4><b>Fórmula:</b></h4>
                    <p>CM_EEP = (%CM x Precio + PSec) x V (total)</p>

                    <h4><b>Donde:</b></h4>

                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    % CM =
                                </span>
                            </div>
                            <input type="text" class="form-control  only-number text-right" id="tbCm2" disabled>
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    %
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Precio =
                                </span>
                            </div>
                            <input type="text" class="form-control  only-number text-right" id="tbPrecioFacturacion">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    US$/Barril
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    PSec =
                                </span>
                            </div>
                            <input type="text" class="form-control only-number text-right" id="tbPSec">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    US$/Barril (Valor unitario establecido en la cláusula 8 del Contrato)
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    VTOTAL =
                                </span>
                            </div>
                            <input type="text" class="form-control only-number text-right" style="width:120px;" id="tbVtotal">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    Barriles (Volumen total de Componentes Pesados producidos, según Boleta adjunta).
                                </span>
                            </div>
                        </div>
                    </div>
                    <h4><b>Aplicando la fórmula se obtiene:</b></h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Importe CM_EEP  =
                                        </span>
                                    </div>
                                    <input type="text" class="form-control only-number text-right" id="tbImporteCmEep">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            US$.
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            I.G.V. (18%)
                                        </span>
                                    </div>
                                    <input type="text" class="form-control only-number text-right" id="tbIgvCmEep">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            US$.
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Monto Total CM_EEP =
                                        </span>
                                    </div>
                                    <input type="text" class="form-control only-number text-right" id="tbMontoTotalCmEep">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            US$.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Precio Secado =
                                        </span>
                                    </div>
                                    <input type="text" class="form-control only-number text-right" id="tbPrecioSecado">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            US$.
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            IGV 18%
                                        </span>
                                    </div>
                                    <input type="text" class="form-control only-number text-right" id="tbIgv">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            US$.
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Total
                                        </span>
                                    </div>
                                    <input type="text" class="form-control only-number text-right" id="tbTotal">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            US$.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <div class="col-md-12 mt-10 mb-10">
            <div class="row d-flex justify-content-end">
                <button class="btn btn-primary mr-2" id="btnGuardar"><i class="far fa-save"></i> Guardar</button>
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-print"></i> Descargar
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" id="btnDescargarExcel" href="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/CalculoFacturaCpgnaFee50/GenerarExcel")">Excel</a>
                        <a class="dropdown-item" id="btnDescargarPdf" href="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/CalculoFacturaCpgnaFee50/GenerarPdf")">PDF</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>



<div class="modal fade" id="modalGuardarTipoCambio" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tipo de Cambio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 form-group row mt-1">
                    
                            @using (Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data", id = "FormCargarTipoCambio" }))
                            {
                                <div class="uppy">
                                    <div class="uppy-wrapper">
                                        <div class="uppy-Root uppy-FileInput-container imgen-pagina text-center">
                                            <input class="uppy-input-control" type="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" id="btnCargarTipoCambio">
                                        <label class="dropzone-select btn btn-light-adjuntar-documentos font-weight-bold dz-clickable" id="btnCargarTipoCambioLabel" for="btnCargarTipoCambio">Cargar Excel</label>
                                        </div>
                                    </div>
                                    <div class="w-100">
                                        <span class="form-text text-muted-validacion text-danger ocultarocultar" id="urlPortadaHtml"></span>
                                    </div>
                                </div>
                            }
                    </div>
                    <div class="col-12">
                        <table class="table table-bordered" id="tblTipoCambioVisualExcel">
                            <thead>
                                <tr>
                                    <th colspan="2">Tipo de Cambio</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Cerrar</button>                
            </div>
        </div>
    </div>
</div>