@page
@model Unna.OperationalReport.WebSite.Pages.Admin.IngenieroProceso.Reporte.Diario.ResDiarioFiscalProd.IndexModel
@{
}


@section Styles {
    <link href="~/css/reportes.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/admin/ingenieroproceso/reporte/diario/boletacnpc/index.js"></script>

}

<input type="hidden" id="__HD_URL_GENERAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/Quincenal/ResBalanceEnergLIV/GenerarExcel")" />

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table tbl-resumen-ventas w-100">
                <tbody>
                    <tr>
                        <td rowspan="2"><img src="~/images/logo.png" alt="Unna Energía Logo" style="width: 11rem;"></td>
                        <td rowspan="2">
                            <h2>RESUMEN DIARIO DE FISCALIZACION DE PRODUCTOS</h2>
                        </td>
                        <td>UNNA ENERGÍA - ENEL</td>
                    </tr>
                    <tr>
                        <td>Versión 01</td>
                    </tr>
                </tbody>
            </table>

            <div style="text-align:center"> <h5 class="mb-5 mt-1 w-100"><b>RESUMEN DIARIO DE FISCALIZACION DE PRODUCTOS</b></h5></div>
            <div class="container mt-3">
                <div class="container mt-3">
                    <div class="row">
                        <div class="w-100 mt-5 mb-1">
                            @* <h3 class="mb-5 mt-1 w-100">RESUMEN DIARIO DE FISCALIZACION DE PRODUCTOS</h3> *@
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:300px;float: right;">
                                <tbody>
                                    <tr>
                                        <td><b>FECHA</b></td>
                                        <td><b>@Model.Dato.Fecha</b> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="w-100 mt-5 mb-1">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:1000px;float:left;">
                                <thead>
                                    <tr>
                                        <th>PRODUCTO</th>
                                        <th>TANQUES</th>
                                        <th>NIVELES %</th>
                                        <th>INVENTARIO BLS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Dato.ResDiarioFiscalProdDet)
                                    {
                                        <tr>
                                            <td>@item.Producto</td>
                                            <td>@item.Tanques</td>
                                            <td><input type="text" class="form-control" value="@item.Niveles"></td>
                                            <td><input type="text" class="form-control" value="@item.Inventario"></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="w-100 mt-5 mb-1">
                            <h3 class="mb-5 mt-1 w-100">Observaciones:</h3>
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:1000px;float: left;">
                                <tbody>
                                    <tr>
                                        <td><b>@Model.Dato.Observacion</b> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Cuadro Firma -->
            <div style="text-align:center;">
                <table border="0" style="margin: 0 auto;">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b><img src="~/images/firmas/FIRMA RSC.jpeg" style="max-width:220px;" /></b> </td>
                            <td> </td>
                            <td><b><img src="~/images/firmas/FIRMA RSC.jpeg" style="max-width:220px;" /></b> </td>
                        </tr>
                        <tr>
                            <td><b>----------------------------------------------------</b> </td>
                            <td> </td>
                            <td><b>----------------------------------------------------</b> </td>
                        </tr>
                        <tr>
                            <td><b>UNNA ENERGIA S.A</b> </td>
                            <td width="400"> </td>
                            <td><b>ENEL Generación Piura S.A.</b> </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="w-100 mt-10 mb-10 text-right">
                <button id="btnDescargarExcel" class="btn btn-primary btn-lg">Descargar Excel</button>

            </div>

        </div>
    </div>
</div>

<script>