
@page
@model Unna.OperationalReport.WebSite.Pages.Admin.IngenieroProceso.Reporte.Diario.BoletaVentaGns.IndexModel


<input type="hidden" id="__URL_OBTENER_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/diario/BoletaVentaGns/Obtener")" />
<input type="hidden" id="__URL_GUARDAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/diario/BoletaVentaGns/Guardar")" />
<input type="hidden" id="__URL_GENERAR_REPORTE_EXCEL" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/diario/BoletaVentaGns/GenerarExcel")" />
<input type="hidden" id="__URL_GENERAR_REPORTE_PDF" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/diario/BoletaVentaGns/GenerarPdf")" />

@section Scripts {
    <script src="~/js/admin/ingenieroproceso/reporte/diario/boletaventagns/index.js"></script>
}


<div class="container">
    <div class="row">
        <div class="col-12">


            <table class="table tbl-resumen-ventas w-100">
                <tbody>
                    <tr>
                        <td rowspan="2"><img src="@Url.Content("~/images/logo.png")" alt="Unna Energía Logo" style="width: 11rem;"></td>
                        <td rowspan="2">
                            <h2>@Model.Dato.General.NombreReporte</h2>
                        </td>
                        <td>@Model.Dato.General.Nombre</td>
                    </tr>
                    <tr>
                        <td>Versión @Model.Dato.General.Version</td>
                    </tr>
                </tbody>
            </table>




            <!-- Cuadro N° 1 -->
            <div class="container mt-3">

                <div class="container mt-3">
                    <div class="row">
                        <div class="w-100 mt-5 mb-1">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:300px;float: right;">
                                <tbody>
                                    <tr>
                                        <td><b>FECHA</b></td>
                                        <td><b>@Model.Dato.Fecha</b> </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <h3 class="mb-5 mt-1 w-100">Cuadro N°1. Resumen de Ventas</h3>
                    </div>
                    <table class="table table-bordered tbl-resumen-ventas">
                        <thead>
                            <tr>
                                <th>
                                    Volumen Total de GNS
                                    vendido a ENEL
                                </th>
                                <th>
                                    PODER
                                    CALORIFICO de GNS
                                </th>
                                <th>ENERGÍA</th>
                            </tr>
                            <tr>
                                <th>MPCS</th>
                                <th>BTU/PCS</th>
                                <th>MMBTU</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" class="form-control form-report text-center" id="mpcs" value="@Model.Dato.Mpcs"></td>
                                <td><input type="text" class="form-control form-report text-center" id="btuPcs" value="@Model.Dato.BtuPcs"></td>
                                <td><input type="text" class="form-control form-report text-center" id="mmbtu" value="@Model.Dato.Mmbtu"></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>


            <!-- Cuadro Firma -->
            <div class="w-100 mt-20">
                <img src="@Url.Content(Model.Dato.General.UrlFirma)" style="max-width:220px;" />
            </div>

            <div class="row mt-10">
                <div class="col-6">
                    <h3>@Model.Dato.Empresa</h3>
                </div>
                <div class="col-6">
                    <h3>@Model.Dato.Abreviatura</h3>
                </div>
            </div>

            <div class="w-100 mt-10 mb-10">
                <div class="row d-flex justify-content-end">
                    <button class="btn btn-primary mr-2" id="btnGuardar"><i class="far fa-save"></i> Guardar</button>
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-print"></i> Descargar
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" id="btnDescargarExcel" href="javascript:void(0)">Excel</a>
                            <a class="dropdown-item" id="btnDescargarPdf" href="javascript:void(0)">PDF</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script>

  

</script>