@page
@model Unna.OperationalReport.WebSite.Pages.Admin.IngenieroProceso.Reporte.Diario.BoletaBalanceEnergia.IndexModel
@{
}


@section Styles {
    <link href="~/css/reportes.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/admin/ingenieroproceso/reporte/diario/BoletaBalanceEnergia/index.js"></script>
}

<input type="hidden" id="__URL_OBTENER_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/diario/BoletaBalanceEnergia/Obtener")" />
<input type="hidden" id="__URL_GUARDAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/diario/BoletaBalanceEnergia/Guardar")" />
<input type="hidden" id="__URL_GENERAR_REPORTE_PDF" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/diario/BoletaBalanceEnergia/GenerarPdf")" />

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table tbl-resumen-ventas w-100">
                <tbody>
                    <tr>
                        <td rowspan="3"><img src="~/images/logo.png" alt="Unna Energía Logo" style="width: 11rem;"></td>
                        <td rowspan="3">
                            <h2><b>@Model.Dato?.General?.NombreReporte</b></h2>
                        </td>
                        <td colspan="2" style="background-color:#DAEEF3"><b>@Model.Dato.General.Nombre</b></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="background-color:#DAEEF3"><b>Versión / Fecha </br>@Model.Dato.General.Version / @Model.Dato.General.Fecha</b></td>

                    </tr>
                    <tr>

                        <td style="background-color:#DAEEF3"><b>Rev: @Model.Dato.General.PreparadoPör</b></td>
                        <td style="background-color:#DAEEF3"><b>Aprob: @Model.Dato.General.AprobadoPor</b></td>
                    </tr>

                </tbody>
            </table>
            <div style="text-align:center"><h5><b>BALANCE DE ENERGIA DIARIO DE GNA, GNS Y COMPONENTES PESADOS</b></h5></div>
            <div style="text-align:center"><h7> <b>UNNA ENERGIA - ENEL</b></h7></div>
            <div class="container mt-3">
                <div class="container mt-3">
                    <div class="row">
                        <div class="w-100 mt-5 mb-1">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:500px;float: right;">
                                <tbody>
                                    <tr>
                                        <td><b>FECHA</b></td>
                                        <td><b>@Model.Dato?.Fecha</b> </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7">
                            <table class="table table-bordered tbl-resumen-ventas">
                                <thead>
                                    <tr>
                                        <th>
                                        </th>
                                        <th>
                                            Entregas
                                        </th>
                                        <th>Volumen MPCSD</th>
                                        <th>Poder Calorifico Bruto Btu/PC</th>
                                        <th>Energía MMBTU</th>
                                        <th>Riqueza Gal/MPC</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><label class="font-weight-bold">GNA Entregado a UNNA ENERGIA Gas Natural</label></td>
                                        <td><label class="font-weight-bold">CNPC PERU</label></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="tbVolumen" value="@Model.Dato?.GnaEntregaUnna?.Volumen"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="tbPoderCalorifico" value="@Model.Dato?.GnaEntregaUnna?.PoderCalorifico"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="tbEnergia" value="@Model.Dato?.GnaEntregaUnna?.Energia"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="tbRiqueza" value="@Model.Dato?.GnaEntregaUnna?.Riqueza"></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="col-md-5">
                            <table class="table table-bordered tbl-resumen-ventas">
                                <thead>
                                    <tr>
                                        <th><h7 style="text-align:left;"><b><u>LIQUIDOS (Barriles)</u></b></h7></th>
                                        <th>ENEL</th>
                                        <th>BLSD TOTAL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Dato?.LiquidosBarriles != null)
                                    {
                                        @foreach (var item in Model.Dato.LiquidosBarriles)
                                        {
                                            <tr class="list-datos-tblLiquidosBarriles" data-id-dato="@item.Id">
                                                <td>@item.Nombre</td>
                                                <td><input type="text" class="form-control form-report only-number text-right" id="tbEnel_@item.Id" value="@item.Enel"></td>
                                                <td><input type="text" class="form-control form-report only-number text-right" id="tbBlsd_@item.Id" value="@item.Blsd"></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                            <table class="table table-bordered tbl-resumen-ventas mt-5" style="max-width:600px;">
                                <tbody>
                                    <tr>
                                        <td><label class="font-weight-bold">Com. Pesados del GNA (BSD)</label></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="tbComPesadosGna" value="@Model.Dato?.ComPesadosGna"></td>

                                    </tr>
                                    <tr>
                                        <td><label class="font-weight-bold">% Eficiencia</label></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="tbPorcentajeEficiencia" value="@Model.Dato?.PorcentajeEficiencia"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="w-100 mt-5">
                                <table class="table table-bordered tbl-resumen-ventas" style="max-width:600px;">
                                    <tbody>
                                        <tr>
                                            <td><label class="font-weight-bold">Contenido Calórico promedio del  LGN</label></td>
                                            <td><b><input type="text" class="form-control form-report only-number text-right" id="tbContenidoCalorificoPromLgn" value="@Model.Dato?.ContenidoCalorificoPromLgn"></b></td>
                                            <td><label class="font-weight-bold">MMBTU/Bbl</label></td>
                                        </tr>
                                    </tbody>

                                </table>
                                <p>
                                    El contenido calórico del LGN corresponde a un valor histórico. Se deberá efectuar un
                                    análisis actualizado. UNNA ENERGIA no valida dicho valor propuesto para el balance
                                    de energía
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-7">
                            <table class="table table-bordered tbl-resumen-ventas">
                                <thead>
                                    <tr>
                                        <th>
                                        </th>
                                        <th>
                                            Distribución
                                        </th>
                                        <th>Volumen MPCSD</th>
                                        <th>Poder Calorifico Bruto Btu/PC</th>
                                        <th>Energía MMBTU</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Dato.GnsAEnel)
                                    {
                                        <tr class="list-datos-tblGnsAEnel" data-id-dato="@item.Item">
                                            @if (item.Item == 1)
                                            {
                                                <td rowspan="6">GNS  a ENEL</td>
                                            }
                                            <td>@item.Distribucion</td>
                                            <td><input type="text" class="form-control form-report only-number text-right" id="tbGnsAEnelVolumen_@item.Item" value="@item.Volumen"></td>
                                            <td><input type="text" class="form-control form-report only-number text-right" id="tbGnsAEnelPoderCalorifico_@item.Item" value="@item.PoderCalorifico"></td>
                                            <td><input type="text" class="form-control form-report only-number text-right" id="tbGnsAEnelEnergia_@item.Item" value="@item.Energia"></td>
                                        </tr>
                                    }

                                    @foreach (var item in Model.Dato.ConsumoPropio)
                                    {
                                        <tr class="list-datos-tblConsumoPropio" data-id-dato="@item.Item">
                                            @if (item.Item == 1)
                                            {
                                                <td rowspan="@Model.Dato.ConsumoPropio.Count">Consumo Propio UNNA ENERGIA </td>
                                            }
                                            <td>@item.Distribucion</td>
                                            <td><input type="text" class="form-control form-report only-number text-right" value="@item.Volumen"></td>
                                            <td><input type="text" class="form-control form-report only-number text-right" value="@item.PoderCalorifico"></td>
                                            <td><input type="text" class="form-control form-report only-number text-right" value="@item.Energia"></td>
                                        </tr>
                                    }

                                    @foreach (var item in Model.Dato.ConsumoPropioGnsVendioEnel)
                                    {
                                        <tr class="list-datos-tblConsumoPropioGnsVendioEnel" data-id-dato="@item.Item">
                                            @if (item.Item == 1)
                                            {
                                                <td rowspan="@Model.Dato.ConsumoPropio.Count">GNS Vendido a ENEL</td>
                                            }
                                            <td>@item.Distribucion</td>
                                            <td><input type="text" class="form-control form-report only-number text-right" id="tbConPGnsVendioEnelVol_@item.Item" value="@item.Volumen"></td>
                                            <td><input type="text" class="form-control form-report only-number text-right" id="tbConPGnsVendioEnelPordCa_@item.Item" value="@item.PoderCalorifico"></td>
                                            <td><input type="text" class="form-control form-report only-number text-right" id="tbConPGnsVendioEnelEnergia_@item.Item" value="@item.Energia"></td>
                                        </tr>
                                    }

                                </tbody>

                            </table>
                        </div>
                        <div class="col-md-5">
                            <table class="table table-bordered tbl-resumen-ventas">
                                <thead>
                                    <tr>
                                        <th>BALANCE</th>
                                        <th>MPCSD</th>
                                        <th>Barriles LGN</th>
                                        <th>Energia MMBTU</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><label class="font-weight-bold">Entregas de GNA</label></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" value="@Model.Dato?.EntregaGna?.Mpcsd"></td>
                                        <td></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" value="@Model.Dato?.EntregaGna?.Energia"></td>
                                    </tr>
                                    <tr>
                                        <td><label class="font-weight-bold">GNS Restituido a ENEL</label></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" value="@Model.Dato?.GnsRestituido?.Mpcsd"></td>
                                        <td></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" value="@Model.Dato?.GnsRestituido?.Energia"></td>
                                    </tr>
                                    <tr>
                                        <td><label class="font-weight-bold">GNS Consumo Propio UNNA </label></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" value="@Model.Dato?.GnsConsumoPropio?.Mpcsd"></td>
                                        <td></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" value="@Model.Dato?.GnsConsumoPropio?.Energia"></td>
                                    </tr>
                                    <tr>
                                        <td><label class="font-weight-bold">Recuperación de  Com. Pes.</label></td>
                                        <td></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" value="@Model.Dato?.Recuperacion?.Barriles"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" value="@Model.Dato?.Recuperacion?.Energia"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><label class="font-weight-bold text-left">DIFERENCIA ENERGETICA</label></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" value="@Model.Dato?.DiferenciaEnergetica"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><label class="font-weight-bold text-left">EXCESO EN CONSUMO PROPIO</label></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" value="@Model.Dato?.ExesoConsumoPropio"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mt-10">
                            <h5>Comentarios:</h5>
                            <textarea class="form-control form-report" id="tbComentario" style="height:6rem;">@Model.Dato?.Comentario</textarea>

                        </div>
                    </div>
                </div>
            </div>


            <!-- Cuadro Firma -->
            <div class="row mt-10">
                <div class="col-md-6 text-center">
                    <img src="@Url.Content(Model.Dato?.General?.UrlFirma)" style="max-width:220px;height:100px;" />
                    <p class="mb-0">---------------------------------------</p>                    
                    <p><b>Representante UNNA ENERGIA S.A</b></p>
                </div>
                <div class="col-md-6 text-center">
                    <div style="height:100px;"></div>
                    <p class="mb-0">---------------------------------------</p>
                    <p><b>Representante ENEL Generacion Piura S.A.</b></p>
                </div>               
            </div>

            <div class="w-100 mt-10 mb-10">
                <div class="row d-flex justify-content-end">
                    <button class="btn btn-primary mr-2" id="btnGuardar"><i class="far fa-save"></i> Guardar</button>
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-print"></i> Descargar
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" id="btnDescargarExcel" href="javascript:void(0)">PDF</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

