@page
@model Unna.OperationalReport.WebSite.Pages.Admin.IngenieroProceso.Reporte.Diario.BoletaBalanceEnergia.IndexModel
@{
}


@section Styles {
    <link href="~/css/reportes.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/admin/ingenieroproceso/reporte/diario/boletacnpc/index.js"></script>

}

<input type="hidden" id="__HD_URL_GENERAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/diario/BoletaCnpc/GenerarExcel")" />

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table tbl-resumen-ventas w-100">
                <tbody>
                    <tr>
                        <td rowspan="3"><img src="~/images/logo.png" alt="Unna Energía Logo" style="width: 11rem;"></td>
                        <td rowspan="3">
                            <h2><b>BALANCE DE ENERGIA DIARIA</b></h2>
                        </td>
                        <td colspan="2" style="background-color:#DAEEF3"><b>UNNA Energía-IG-F-002</b></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="background-color:#DAEEF3"><b>Versión / Fecha </br>05 / 21-07-23</b></td>
                        
                    </tr>
                    <tr>
                        
                        <td style="background-color:#DAEEF3"><b>Rev: JPG</b></td>
                        <td style="background-color:#DAEEF3"><b>Aprob: GOG</b></td>
                    </tr>
                    
                </tbody>
            </table>
            <div style="text-align:center"><h5><b>BALANCE DE ENERGIA DIARIO DE GNA, GNS Y COMPONENTES PESADOS</b></h5></div>
            <div style="text-align:center"><h7> <b>UNNA ENERGIA - ENEL</b></h7></div>
            <div class="container mt-3">
                <div class="container mt-3">
                    <div class="row">
                        <div class="w-100 mt-5 mb-1">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:500px;float: right;">
                                <tbody>
                                    <tr>
                                        <td><b>FECHA</b></td>
                                        <td><b>@Model.Dato.Fecha</b> </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        @* <h3 class="mb-5 mt-1 w-100">Cuadro N°1. Resumen de Ventas</h3> *@
                    </div>

                    <div class="row">
                        <div class="w-100 mt-5 mb-1">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:1000px;float:left;">
                                <thead>
                                    <tr>
                                        <th>

                                        </th>
                                        <th>
                                            Entregas
                                        </th>
                                        <th>Volumen MPCSD</th>
                                        <th>Poder Calorifico Bruto Btu/PC</th>
                                        <th>Energía MMBTU</th>
                                        <th>Riqueza Gal/MPC</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><label class="font-weight-bold">GNA Entregado a UNNA ENERGIA Gas Natural</label></td>
                                        <td><label class="font-weight-bold">CNPC PERU</label></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato?.GnaEntregaUnna?.Volumen"></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato?.GnaEntregaUnna?.PoderCalorifico"></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato?.GnaEntregaUnna?.Energia"></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato?.GnaEntregaUnna?.Riqueza"></td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:500px;float:right;">
                                <thead>
                                    <tr>
                                        <th><h7 style="text-align:left;"><b><u>LIQUIDOS (Barriles)</u></b></h7></th>
                                        <th>ENEL</th>
                                        <th>BLSD TOTAL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><label class="font-weight-bold">Com. Pesados ó LGN  Recuperados</label></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                    </tr>
                                    <tr>
                                        <td><label class="font-weight-bold">Produccion de GLP</label></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                    </tr>
                                    <tr>
                                        <td><label class="font-weight-bold">Produccion de CGN</label></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                    </tr>
                                    
                                </tbody>
                            </table>

                        </div>
                        @* <h3 class="mb-5 mt-1 w-100">Cuadro N°1. Resumen de Ventas</h3> *@
                    </div>
                    
                    <div class="row">
                        <div class="w-100 mt-5 mb-1">
                           
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:500px;float:right;">
                                <tbody>
                                    <tr >
                                        <td style="background-color:#DAEEF3"> <h7 style="text-align:left;"><b><u>EFICIENCIA DE RECUPERACION DE LGN</u></b></h7></td>
                                       
                                    </tr>
                                    <tr >
                                       
                                        <td ><label class="font-weight-bold">Com. Pesados del GNA (BSD)</label></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.ComPesadosGna"></td>
                                    </tr>
                                    <tr>
                                        <td><label class="font-weight-bold">% Eficiencia</label></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.PorcentajeEficiencia"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="w-100 mt-5 mb-1">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:500px;float:right;">
                                <tbody>
                                    <tr>
                                        <td><label class="font-weight-bold">Contenido Calórico promedio del  LGN</label></td>
                                        <td><b>@Model.Dato.ContenidoCalorificoPromLgn</b> </td>
                                        <td><label class="font-weight-bold">MMBTU/Bbl</label></td>
                                    </tr>
                                    
                                </tbody>
                                
                            </table>
                            
                        </div>
                       @*  <label class="font-weight-bold">El contenido calórico del LGN corresponde a un valor histórico. Se deberá efectuar un </label> *@
                    </div>
                    <div class="row">
                        <div class="w-100 mt-5 mb-2" style="text-align:right">
                            El contenido calórico del LGN corresponde a un valor histórico. Se deberá efectuar un</br>
                            análisis actualizado. UNNA ENERGIA no valida dicho valor propuesto para el balance</br>
                            de energía
                        </div>
                    </div>
                    

                    <div class="row">
                        <div class="w-100 mt-5 mb-1">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:1000px;float:left;">
                                <thead>
                                    <tr>
                                        <th>
                                        </th>
                                        <th>
                                            Distribución
                                        </th>
                                        <th>Volumen MPCSD</th>
                                        <th>Poder Calorifico Bruto Btu/PC</th>
                                        <th>Energía MMBTU</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td rowspan="6"><label class="font-weight-bold">GNS  a ENEL</label></td>
                                        <td><label class="font-weight-bold">Pñs. a Malacas (Ducto N° 3 )</label></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                    </tr>
                                     <tr>
                                        <td><label class="font-weight-bold">Pñs. a Refinería</label></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                    </tr>
                                     <tr>
                                        <td><label class="font-weight-bold">Ajuste Balance GNS</label></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                    </tr>
                                    <tr>
                                        <td><label class="font-weight-bold">Humedad en GNA</label></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                    </tr>
                                    <tr>
                                        <td><label class="font-weight-bold">Gas a Flare 1 Pñs. 1</label></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                    </tr>
                                   <tr>
                                        <td><label class="font-weight-bold">Total</label></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                    </tr>

                                     <tr>
                                        <td rowspan="2"><label class="font-weight-bold">Consumo Propio UNNA ENERGIA</label></td>
                                        <td><label class="font-weight-bold">Gas a Horno HOT OIL</label></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                    </tr>
                                      <tr>
                                        <td><label class="font-weight-bold">Total</label></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                    </tr>

                                    <tr>
                                        <td rowspan="2"><label class="font-weight-bold">GNS Vendido  Lote IV</label></td>
                                        <td><label class="font-weight-bold">GNS Vendido  Lote IV</label></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                    </tr>
                                    <tr>
                                        <td><label class="font-weight-bold">Total</label></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                        <td><input type="text" class="form-control form-report text-center" value=""></td>
                                    </tr> 
                                </tbody>
                            </table>

                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:500px;float:right;">
                                <thead>
                                    <tr>
                                        <th>BALANCE</th>
                                        <th>MPCSD</th>
                                        <th>Barriles LGN</th>
                                        <th>Energia MMBTU</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><label class="font-weight-bold">Entregas de GNA</label></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.EntregaGna.Mpcsd"></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.EntregaGna.Barriles"></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.EntregaGna.Energia"></td>
                                    </tr>
                                    <tr>
                                        <td><label class="font-weight-bold">GNS Restituido a ENEL</label></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.GnsRestituido.Mpcsd"></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.GnsRestituido.Barriles"></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.GnsRestituido.Energia"></td>
                                    </tr>
                                    <tr>
                                        <td><label class="font-weight-bold">GNS Consumo Propio UNNA </label></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.GnsConsumoPropio.Mpcsd"></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.GnsConsumoPropio.Barriles"></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.GnsConsumoPropio.Energia"></td>
                                    </tr>
                                    <tr>
                                        <td><label class="font-weight-bold">Recuperación de  Com. Pes.</label></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.Recuperacion.Mpcsd"></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.Recuperacion.Barriles"></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.Recuperacion.Energia"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" ><label class="font-weight-bold">DIFERENCIA ENERGETICA</label></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.DiferenciaEnergetica"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><label class="font-weight-bold">EXCESO EN CONSUMO PROPIO</label></td>
                                        <td><input type="text" class="form-control form-report text-center" value="@Model.Dato.ExesoConsumoPropio"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div><b>Comentarios:</b></div>
                        <div class="w-100 mt-5 mb-1">
                            <textarea class="form-control form-report text-center">@Model.Dato.Comentario</textarea>
                          
                        </div>
                    </div>
                </div>
            </div>


            <!-- Cuadro Firma -->
            <div  style="text-align:center;">
                <table  border="0" style="margin: 0 auto;">
                    
                    <tbody >
                        <tr>
                            <td></td>
                            <td> </td>
                        </tr
                        <tr >
                            <td><b><img src="~/images/firmas/FIRMA RSC.jpeg" style="max-width:220px;" /></b> </td>
                            <td> </td>
                            
                            <td><b><img src="~/images/firmas/FIRMA RSC.jpeg" style="max-width:220px;" /></b> </td>
                        </tr>
                        <tr>
                            <td><b>----------------------------------------------------</b> </td>
                            <td> </td>
                            
                            <td><b>----------------------------------------------------</b> </td>
                        </tr>
                        <tr>
                            <td><b>Representante UNNA ENERGIA S.A</b> </td>
                            <td width="400"> </td>
                            <td><b>Representante ENEL Generacion Piura S.A.</b> </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="w-100 mt-10 mb-10 text-right">
                <button id="btnDescargarExcel" class="btn btn-primary btn-lg">Descargar Excel</button>

            </div>

        </div>
    </div>
</div>

<script>