@page
@model Unna.OperationalReport.WebSite.Pages.Admin.IngenieroProceso.Reporte.Mensual.BoletaVolumenesUNNAEnergiaCNPC.IndexModel
@{
}


<input type="hidden" id="__URL_OBTENER_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/BoletaVolumenUnnaEnergiaCnpc/Obtener")" />
<input type="hidden" id="__URL_GUARDAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/BoletaVolumenUnnaEnergiaCnpc/Guardar")" />
<input type="hidden" id="__HD_URL_GENERAR_REPORTE_EXCEL" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/BoletaVolumenUnnaEnergiaCnpc/GenerarExcel")" />
<input type="hidden" id="__HD_URL_GENERAR_REPORTE_PDF" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/BoletaVolumenUnnaEnergiaCnpc/GenerarPdf")" />

@section Styles {
    <link href="~/css/reportes.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/admin/ingenieroproceso/reporte/mensual/BoletaVolumenesUNNAEnergiaCNPC/index.js"></script>

}



<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table tbl-resumen-ventas w-100">
                <tbody>
                    <tr>
                        <td rowspan="3"><img src="@Url.Content("~/images/logo.png")" alt="Unna Energía Logo" style="width: 11rem;"></td>

                        <td rowspan="3">
                            <h2>@Model.Dato?.General?.NombreReporte</h2>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-10">
        <div class="col-md-12 row mb-2 data-row">
            <div class="col-6 col-md-4">
                <h4> Mes: <b>@Model.Dato.Mes</b></h4>
            </div>
            <div class="col-3 col-md-4">
                <h4> Año: <b>@Model.Dato.Anio </b> </h4>
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <div>
            </div>
            <table class="table table-bordered tbl-resumen-ventas">
                <thead>
                    <tr>
                        <th rowspan="2">
                            FECHA
                        </th>
                        <th>GNA</th>
                        <th colspan="2">LGN</th>
                        <th>GNS (MPC)</th>
                        <th>GC</th>
                    </tr>
                    <tr>
                        <th>MPCS</th>
                        <th>GLP (BLS)</th>
                        <th>CGN (BLS)</th>
                        <th>MPCS</th>
                        <th>MPCS</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model?.Dato?.VolumenGna)
                    {
                        <tr class="list-datos-tabla" data-id-dato="@item.Id">
                            <td>@item.Id</td>
                            <td><input type="text" class="form-control form-report only-number text-right" id="tbGasMpcd_@item.Id" value="@item.GasMpcd"></td>
                            <td><input type="text" class="form-control form-report only-number text-right" id="tbGlpBls_@item.Id" value="@item.GlpBls"></td>
                            <td><input type="text" class="form-control form-report only-number text-right" id="tbCgnBls_@item.Id" value="@item.CgnBls"></td>
                            <td><input type="text" class="form-control form-report only-number text-right" id="tbGnsMpc_@item.Id" value="@item.GnsMpc"></td>
                            <td><input type="text" class="form-control form-report only-number text-right" id="tbGcMpc_@item.Id" value="@item.GcMpc"></td>
                        </tr>
                    }

                    <tr>
                        <td>TOTAL</td>
                        <td><input type="text" class="form-control form-report only-number text-right" id="totalGasMpcd" value="@Model.Dato.TotalGasMpcd"></td>
                        <td><input type="text" class="form-control form-report only-number text-right" id="totalGlpBls" value="@Model.Dato.TotalGlpBls"></td>
                        <td><input type="text" class="form-control form-report only-number text-right" id="totalCgnBls" value="@Model.Dato.TotalCgnBls"></td>
                        <td><input type="text" class="form-control form-report only-number text-right" id="totalGnsMpc" value="@Model.Dato.TotalGnsMpc"></td>
                        <td><input type="text" class="form-control form-report only-number text-right" id="totalGcMpc" value="@Model.Dato.TotalGcMpc"></td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="col-md-12">
            <div class="card border-thick">
                <div class="card-body row">
                    <div class="col-md-12">
                        <h6 class="w-100"><b>Nota</b></h6>
                    </div>
                    <div class="col-md-12">
                        <textarea class="form-control" id="txtNota" style="height:8rem;">@Model.Dato.Nota</textarea>
                    </div>
                    <div class="col-md-12">
                        <div class="row mt-4">
                            <div class="col-md-3">
                                <label class="font-weight-bold">Gravedad Específica (Kg/L) GLP:</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control form-report only-number text-right" id="gravedadEspacificoGlp" value="@Model.Dato.GravedadEspacificoGlp">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-12 mt-10 row">
            <div class="col-md-6 text-center">
                <img src="@Url.Content(Model.Dato?.General?.UrlFirma)" style="max-width:180px;height:100px;" />
                <p class="mb-0">____________________________</p>
                <p>UNNA ENERGIA S.A</p>
            </div>
            <div class="col-md-6 text-center">
                <p class="mb-0 mt-30">____________________________</p>
                <p>CNPC-PERÚ</p>
            </div>
        </div>


        <div class="col-md-12 mt-10 mb-10">
            <div class="row d-flex justify-content-end">
                <button class="btn btn-primary mr-2" id="btnGuardar"><i class="far fa-save"></i> Guardar</button>
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-print"></i> Descargar
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" id="btnDescargarExcel" href="javascript:void(0)">Excel</a>
                        <a class="dropdown-item" id="btnDescargarPdf" href="@Url.Content("~/api/admin/ingenieroProceso/reporte/mensual/BoletaVolumenUnnaEnergiaCnpc/GenerarPdf")">PDF</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

