@page
@model Unna.OperationalReport.WebSite.Pages.Admin.IngenieroProceso.Reporte.Mensual.FacturacionGnsLIV.IndexModel
@{
}


@section Styles {
    <link href="~/css/reportes.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/admin/ingenieroproceso/reporte/diario/boletacnpc/index.js"></script>

}

<input type="hidden" id="__HD_URL_GENERAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/diario/BoletaCnpc/GenerarExcel")" />

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table tbl-resumen-ventas w-100">
                <tbody>
                    <tr>
                        <td rowspan="2"><img src="~/images/logo.png" alt="Unna Energía Logo" style="width: 11rem;"></td>
                        <td rowspan="2">
                            <h2>CÁLCULO FACTURA GAS UNNA GNS LOTE IV</h2>
                        </td>
                        <td>UNNA ENERGÍA - ENEL</td>
                    </tr>
                    <tr>
                        <td>Versión 01</td>
                    </tr>
                </tbody>
            </table>


            <div class="container mt-3">
                <div class="container mt-3">
                    <div class="row">
                        <div class="w-800 mt-5 mb-1" >

                            <b>FACTURACION  GAS NATURAL SECO LOTE IV - @Model.Dato.MesAnio</b>

                            <br />
                            <br />
                              
                            <b>@Model.Dato.Periodo</b>

                            <br />
                            <br />
                            <br />

                        </div>
                        <h3 class="mb-5 mt-1 w-100">DETALLE DE CÁLCULO FACTURACIÓN VENTA DE GNS LOTE IV A ENEL:</h3>
                    </div>


                    <div class="row">
                        <div class="w-100 mt-5 mb-1">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:500px;float:left;">
                                <thead>
                                    <tr>
                                        <th>CONCEPTO</th>
                                        <th>MPC</th>
                                        <th>MMBTU</th>
                                        <th>PRECIO (US$/MMBTU)</th>
                                        <th>IMPORTE (US$) Sin IGV</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Dato.FacturacionGnsLIVDet)
                                    {
                                        <tr>
                                            <td><input type="text" class="form-control" value="@item.Concepto"></td>
                                            <td><input type="text" class="form-control" value="@item.Mpc"></td>
                                            <td><input type="text" class="form-control" value="@item.Mmbtu"></td>
                                            <td><input type="text" class="form-control" value="@item.PrecioUs"></td>
                                            @* <td>@item.PrecioUs</td> *@
                                            <td><input type="text" class="form-control" value="@item.ImporteUs"></td>
                                        </tr>
                                    }
                                    <tr>
                                        <td>TOTAL</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>


                </div>
            </div>

            <!-- Cuadro Firma -->
            <div class="w-100 mt-20">
                <table style="max-width:100%;float:center;">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b><img src="~/images/firmas/FIRMA RSC.jpeg" style="max-width:220px;" /></b> </td>
                            <td><b><img src="~/images/firmas/FIRMA RSC.jpeg" style="max-width:220px;" /></b> </td>
                        </tr>
                        <tr>
                            <td><b>----------------------------------------------------</b> </td>
                            <td><b>----------------------------------------------------</b> </td>
                        </tr>
                        <tr>
                            <td><b>UNNA ENERGIA S.A</b> </td>
                            <td><b>ENEL GENERACION PIURA S.A.</b> </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="w-100 mt-10 mb-10 text-right">
                <button id="btnDescargarExcel" class="btn btn-primary btn-lg">Descargar Excel</button>

            </div>

        </div>
    </div>
</div>

<script>