@page
@model Unna.OperationalReport.WebSite.Pages.Admin.IngenieroProceso.Reporte.Diario.ReporteExistencias.IndexModel
@{
}

@section Styles {
    <link href="~/css/reportes.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/admin/IngenieroProceso/Reporte/Diario/ReporteExistencias/index.js?v=1.2"></script>

}

<input type="hidden" id="__URL_OBTENER_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/diario/ReporteExistencias/Obtener")" />
<input type="hidden" id="__URL_GUARDAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/diario/ReporteExistencias/Guardar")" />
<input type="hidden" id="__URL_GENERAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/diario/ReporteExistencias/GenerarExcel")" />


<div class="container">
    <div class="row">
        <div class="col-12">


            <table class="table tbl-resumen-ventas w-100">
                <tbody>
                    <tr>
                        <td>
                            <h3>@Model.Data.NombreReporte</h3>
                            <h3>@Model.Data.Detalle</h3>
                            <h3>@Model.Data.Compania</h3>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Cuadro N° 1 -->
            <div class="container mt-3">

                <div class="container mt-3">
                    <div class="row">
                        <div class="w-100 mt-5 mb-1">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:300px;float: right;">
                                <tbody>
                                    <tr>
                                        <td><b>FECHA</b></td>
                                        <td><b>@Model.Data.Fecha</b> </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <table class="table table-bordered tbl-resumen-ventas">
                        <thead>
                            <tr>
                                <th>
                                    RAZON SOCIAL
                                </th>
                                <th>
                                    CODIGO
                                    OSINERGMIN
                                </th>
                                <th>
                                    REGISTRO DE
                                    HIDROCARBUROS
                                    N°
                                </th>
                                <th>DIRECCION</th>
                                <th>
                                    CAPACIDAD
                                    INSTALADA
                                    (M3)
                                </th>
                                <th>
                                    EXISTENCIA
                                    DIARIA
                                    (Toneladas)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Data.Datos)
                            {
                                <tr class="list-datos-tabla" data-id-dato="@item.Item">
                                    <td><label class="mt-1" id="RazonSocial_@item.Item">@item.RazonSocial</label></td>
                                    <td><label class="mt-1" id="CodigoOsinergmin_@item.Item">@item.CodigoOsinergmin</label></td>
                                    <td><label class="mt-1" id="NroRegistroHidrocarburo_@item.Item">@item.NroRegistroHidrocarburo</label></td>
                                    <td><label class="mt-1" id="Direccion_@item.Item">@item.Direccion</label></td>
                                    <td><input type="text" class="form-control form-report text-center" id="txtCapacidadInstalada_@item.Item" value="@item.CapacidadInstalada"></td>
                                    <td><input type="text" class="form-control form-report text-center" id="txtExistenciaDiaria_@item.Item" value="@item.ExistenciaDiaria"></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>



            <div class="row mt-10">
                <div class="col-6">
                    <h4><b>Nota:</b> La toma de datos se efectúa a las 06:00 horas del dia de hoy.</h4>
                </div>
            </div>


            <div class="w-100 mt-10 mb-10 text-right">
                <button class="btn btn-primary btn-lg" id="btnGuardar">Guardar</button>
                <button class="btn btn-success btn-lg" id="btnDescargarExcel">Descargar</button>

            </div>



        </div>
    </div>
</div>
