@page
@model Unna.OperationalReport.WebSite.Pages.Admin.IngenieroProceso.Reporte.Mensual.IndexModel


@section Titulo {
    <div class="d-flex align-items-center flex-wrap mr-1 w-100">
        <div class="d-flex flex-column w-100">
            <div class="d-flex align-items-center font-weight-bold my-2 justify-content-between nombre-cabecera text-header-page">
                <h1>REPORTES MENSUALES</h1>
            </div>
        </div>
    </div>
}


<div class="row">
    
        
            <div class="col-xl-3">
                @*  <a href="@Url.Content($"/Admin/IngenieroProceso/BalanceDiario/ValidarDatos/{item.Id}")" > *@
                <a href="@Url.Content($"/Admin/IngenieroProceso/Reporte/Mensual/BoletadeValorizacionPetroperuLoteI/Index")">
                    <div class="card card-custom bgi-no-repeat card-stretch gutter-b background-unna">
                        <div class="card-body">
                            <span class="card-title font-weight-bolder text-dark-75 font-size-h2 mb-0 d-block text-center">Validar Datos Lote I</span>
                        </div>
                    </div>
                </a>
            </div>
       
       
            <div class="col-xl-3">
                @*  <a href="@Url.Content($"/Admin/IngenieroProceso/BalanceDiario/ValidarDatos/{item.Id}")" > *@
                <a href="@Url.Content($"/Admin/IngenieroProceso/Reporte/Mensual/BoletadeValorizacionPetroperuLoteVI/Index")">
                    <div class="card card-custom bgi-no-repeat card-stretch gutter-b background-unna">
                        <div class="card-body">
                            <span class="card-title font-weight-bolder text-dark-75 font-size-h2 mb-0 d-block text-center">Validar Datos Lote VI</span>
                        </div>
                    </div>
                </a>
            </div>
       
            <div class="col-xl-3">
                @*  <a href="@Url.Content($"/Admin/IngenieroProceso/BalanceDiario/ValidarDatos/{item.Id}")" > *@
                <a href="@Url.Content($"/Admin/IngenieroProceso/Reporte/Mensual/BoletadeValorizacionPetroperuLoteZ69/Index")">
                    <div class="card card-custom bgi-no-repeat card-stretch gutter-b background-unna">
                        <div class="card-body">
                            <span class="card-title font-weight-bolder text-dark-75 font-size-h2 mb-0 d-block text-center">Validar Datos Lote Z-69</span>
                        </div>
                    </div>
                </a>
            </div>
       
    

    <div class="col-xl-3">
        <a href="@Url.Content($"/Admin/IngenieroProceso/Reporte/Mensual/BoletaValorizacionProcesamientoGNALoteIV/Index")">
            <div class="card card-custom bgi-no-repeat card-stretch gutter-b background-unna">
                <div class="card-body">
                    <span class="card-title font-weight-bolder text-dark-75 font-size-h2 mb-0 d-block text-center">Validar Datos de Procesamiento de GNA del Lote IV</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3">
        <a href="@Url.Content($"/Admin/IngenieroProceso/Reporte/Mensual/BoletaVolumenesUNNAEnergiaCNPC/Index")">
            <div class="card card-custom bgi-no-repeat card-stretch gutter-b background-unna">
                <div class="card-body">
                    <span class="card-title font-weight-bolder text-dark-75 font-size-h2 mb-0 d-block text-center">Validar Datos de Volumen de GNA, LGN (GLP/CGN), GNS y GC</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3">
        <a href="@Url.Content($"/Admin/IngenieroProceso/Reporte/Mensual/BoletaSuministroGNSdelLoteIVaEnel/Index")">
            <div class="card card-custom bgi-no-repeat card-stretch gutter-b background-unna">
                <div class="card-body">
                    <span class="card-title font-weight-bolder text-dark-75 font-size-h2 mb-0 d-block text-center">Validar Datos Suministro de GNS del Lote IV A Enel</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3">
        <a href="@Url.Content($"/Admin/IngenieroProceso/Reporte/Mensual/BoletadeValorizacionPetroperu/Index")">
            <div class="card card-custom bgi-no-repeat card-stretch gutter-b background-unna">
                <div class="card-body">
                    <span class="card-title font-weight-bolder text-dark-75 font-size-h2 mb-0 d-block text-center">Validar Datos Lote I, VI, Z-69</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3">
        <a href="@Url.Content($"/Admin/IngenieroProceso/BalanceDiario/SupervisorPgt/Index")">
            <div class="card card-custom bgi-no-repeat card-stretch gutter-b background-unna">
                <div class="card-body">
                    <span class="card-title font-weight-bolder text-dark-75 font-size-h2 mb-0 d-block text-center">Validar Datos Supervisor PGT</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3">
        <a href="@Url.Content($"/Admin/IngenieroProceso/Reporte/Mensual/FacturacionGnsLIV/Index")">
            <div class="card card-custom bgi-no-repeat card-stretch gutter-b background-unna">
                <div class="card-body">
                    <span class="card-title font-weight-bolder text-dark-75 font-size-h2 mb-0 d-block text-center">
                        FACTURACION  GAS NATURAL SECO LOTE IV
                    </span>
                </div>
            </div>
        </a>
    </div>

</div>