@page
@model Unna.OperationalReport.WebSite.Pages.Admin.IngenieroProceso.Reporte.Quincenal.ComposicionGnaLIV.IndexModel
@{
}
<input type="hidden" id="__URL_OBTENER_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/quincenal/ComposicionGnaLIV/Obtener")" />
<input type="hidden" id="__URL_GUARDAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/quincenal/ComposicionGnaLIV/Guardar")" />
<input type="hidden" id="__URL_GENERAR_REPORTE_EXCEL" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/quincenal/ComposicionGnaLIV/GenerarExcel")" />
<input type="hidden" id="__URL_GENERAR_REPORTE_PDF" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/quincenal/ComposicionGnaLIV/GenerarPdf")" />


@section Styles {
    <link href="~/css/reportes.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/admin/ingenieroproceso/reporte/Quincenal/ComposicionGnaLIV/index.js?v=1.0"></script>

}

<input type="hidden" id="__HD_URL_GENERAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/diario/BoletaCnpc/GenerarExcel")" />

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table tbl-resumen-ventas w-100">
                <tbody>
                    <tr>
                        <td rowspan="2"><img src="~/images/logo.png" alt="Unna Energía Logo" style="width: 11rem;"></td>
                        <td rowspan="2">
                            <h2>COMPOSICION DE UNNA ENERGIA PROMEDIO MENSUAL (LOTE IV)</h2>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
            <div class="col-12">
                
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">

                                <table class="table table-bordered tbl-resumen-ventas">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" style="border-top-color: rgb(255, 255, 255) !important;border-left-color: rgb(255, 255, 255) !important;background:#fff;"></th>
                                            <th colspan="12">COMPOSICION DE UNNA ENERGIA PROMEDIO MENSUAL (LOTE IV)</th>
                                        </tr>
                                        <tr>
                                            <th>C6</th>
                                            <th>C3</th>
                                            <th>IC4</th>
                                            <th>NC4</th>
                                            <th>NEO C5</th>
                                            <th>IC5</th>
                                            <th>NC5</th>
                                            <th>NITROG</th>
                                            <th>C1</th>
                                            <th>CO2</th>
                                            <th>C2</th>
                                            <th>OBSERVACION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Dato.Composicion)
                                        {
                                            <tr>
                                                <td><p class="text-table">12/12/2024</p</td>
                                                <td><input type="text" class="form-control form-report only-number text-right" value="@item.C6"></td>
                                                <td><input type="text" class="form-control form-report only-number text-right" value="@item.C3"></td>
                                                <td><input type="text" class="form-control form-report only-number text-right" value="@item.Ic4"></td>
                                                <td><input type="text" class="form-control form-report only-number text-right" value="@item.Nc4"></td>
                                                <td><input type="text" class="form-control form-report only-number text-right" value="@item.NeoC5"></td>
                                                <td><input type="text" class="form-control form-report only-number text-right" value="@item.Ic5"></td>
                                                <td><input type="text" class="form-control form-report only-number text-right" value="@item.Nc5"></td>
                                                <td><input type="text" class="form-control form-report only-number text-right" value="@item.Nitrog"></td>
                                                <td><input type="text" class="form-control form-report only-number text-right" value="@item.C1"></td>
                                                <td><input type="text" class="form-control form-report only-number text-right" value="@item.Co2"></td>
                                                <td><input type="text" class="form-control form-report only-number text-right" value="@item.C2"></td>
                                                <td><input type="text" class="form-control form-report" value="@item.Observacion"></td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            
                            </div>


                        </div>
                    </div>







                    <div class="row mt-10">
                        <div class="col-md-12">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:350px;">
                                <thead>
                                    <tr>
                                        <th>ABREV.</th>
                                        <th>COMPONENTE</th>
                                        <th>MOL%</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Dato.Componente)
                                    {
                                        <tr>
                                             <td><p class="text-table">@item.Simbolo</p</td>
                                             <td><p class="text-table">@item.Componente</p</td>
                                            <td><input type="text" class="form-control form-report only-number text-right" value="@item.Molecula"></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>



          

           <div class="w-100 mt-10 mb-10">
                <div class="row d-flex justify-content-end">
                    <button class="btn btn-primary mr-2" id="btnGuardar"><i class="far fa-save"></i> Guardar</button>
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-print"></i> Descargar
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" id="btnDescargarExcel" href="javascript:void(0)">Excel</a>
                            <a class="dropdown-item" id="btnDescargarPdf" href="javascript:void(0)">PDF</a> 
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>