@page
@model Unna.OperationalReport.WebSite.Pages.Admin.IngenieroProceso.Reporte.Quincenal.ComposicionGnaLIV.IndexModel
@{
}
<input type="hidden" id="__URL_OBTENER_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/quincenal/ComposicionGnaLIV/Obtener")" />
<input type="hidden" id="__URL_GUARDAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/quincenal/ComposicionGnaLIV/Guardar")" />
<input type="hidden" id="__URL_GENERAR_REPORTE_EXCEL" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/quincenal/ComposicionGnaLIV/GenerarExcel")" />
<input type="hidden" id="__URL_GENERAR_REPORTE_PDF" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/quincenal/ComposicionGnaLIV/GenerarPdf")" />


@section Styles {
    <link href="~/css/reportes.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/admin/ingenieroproceso/reporte/Quincenal/ComposicionGnaLIV/index.js"></script>

}

<input type="hidden" id="__HD_URL_GENERAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/diario/BoletaCnpc/GenerarExcel")" />

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table tbl-resumen-ventas w-100">
                <tbody>
                    <tr>
                        <td rowspan="2"><img src="~/images/logo.png" alt="Unna Energía Logo" style="width: 11rem;"></td>
                        <td rowspan="2">
                            <h2>COMPOSICION DE UNNA ENERGIA PROMEDIO MENSUAL (LOTE IV)</h2>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
            <div class="col-12">
                
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">

                                <table class="table table-bordered tbl-resumen-ventas">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" style="border-top-color: rgb(255, 255, 255) !important;border-left-color: rgb(255, 255, 255) !important;background:#fff;"></th>
                                            <th colspan="12">COMPOSICION DE UNNA ENERGIA PROMEDIO MENSUAL (LOTE IV)</th>
                                        </tr>
                                        <tr>
                                            <th>C6</th>
                                            <th>C3</th>
                                            <th>IC4</th>
                                            <th>NC4</th>
                                            <th>NEO C5</th>
                                            <th>IC5</th>
                                            <th>NC5</th>
                                            <th>NITROG</th>
                                            <th>C1</th>
                                            <th>CO2</th>
                                            <th>C2</th>
                                            <th>OBSERVACION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Dato.ComposicionGnaLIVDetComposicion)
                                        {
                                            var compGnaDiaSinSlashes = item.CompGnaDia.Replace("/", "");
                                        <tr class="list-datos-tabla" data-id-dato="@compGnaDiaSinSlashes">
                                        <td><input type="text" class="form-control" value="@item.CompGnaDia"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="tbCompGnaC6_@compGnaDiaSinSlashes" value="@item.CompGnaC6"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="tbCompGnaC3_@compGnaDiaSinSlashes" value="@item.CompGnaC3"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="tbCompGnaIc4_@compGnaDiaSinSlashes" value="@item.CompGnaIc4"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="tbCompGnaNc4_@compGnaDiaSinSlashes" value="@item.CompGnaNc4"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="tbCompGnaNeoC5_@compGnaDiaSinSlashes" value="@item.CompGnaNeoC5"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="tbCompGnaIc5_@compGnaDiaSinSlashes" value="@item.CompGnaIc5"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="tbCompGnaNc5_@compGnaDiaSinSlashes" value="@item.CompGnaNc5"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="tbCompGnaNitrog_@compGnaDiaSinSlashes" value="@item.CompGnaNitrog"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="tbCompGnaC1_@compGnaDiaSinSlashes" value="@item.CompGnaC1"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="tbCompGnaCo2_@compGnaDiaSinSlashes" value="@item.CompGnaCo2"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="tbCompGnaC2_@compGnaDiaSinSlashes" value="@item.CompGnaC2"></td>
                                        <td><input type="text" class="form-control form-report" id="tbCompGnaObservacion_@compGnaDiaSinSlashes" value="@item.CompGnaObservacion"></td>
                                        </tr>
                                        }
                                        <tr>
                                            <td></td>
                                            <td><input type="text" class="form-control form-report only-number text-right" id="totalPromedioPeruPetroC6" value="@Model.Dato.TotalPromedioPeruPetroC6"></td>
                                            <td><input type="text" class="form-control form-report only-number text-right" id="totalPromedioPeruPetroC3" value="@Model.Dato.TotalPromedioPeruPetroC3"></td>
                                            <td><input type="text" class="form-control form-report only-number text-right" id="totalPromedioPeruPetrIc4" value="@Model.Dato.TotalPromedioPeruPetroIc4"></td>
                                            <td><input type="text" class="form-control form-report only-number text-right" id="totalPromedioPeruPetroNc4" value="@Model.Dato.TotalPromedioPeruPetroNc4"></td>
                                            <td><input type="text" class="form-control form-report only-number text-right" id="totalPromedioPeruPetroNeoC5" value="@Model.Dato.TotalPromedioPeruPetroNeoC5"></td>
                                            <td><input type="text" class="form-control form-report only-number text-right" id="totalPromedioPeruPetroIc5" value="@Model.Dato.TotalPromedioPeruPetroIc5"></td>
                                            <td><input type="text" class="form-control form-report only-number text-right" id="totalPromedioPeruPetroNc5" value="@Model.Dato.TotalPromedioPeruPetroNc5"></td>
                                            <td><input type="text" class="form-control form-report only-number text-right" id="totalPromedioPeruPetroNitrog" value="@Model.Dato.TotalPromedioPeruPetroNitrog"></td>
                                            <td><input type="text" class="form-control form-report only-number text-right" id="totalPromedioPeruPetroC1" value="@Model.Dato.TotalPromedioPeruPetroC1"></td>
                                            <td><input type="text" class="form-control form-report only-number text-right" id="totalPromedioPeruPetroCo2" value="@Model.Dato.TotalPromedioPeruPetroCo2"></td>
                                            <td><input type="text" class="form-control form-report only-number text-right" id="totalPromedioPeruPetroC2" value="@Model.Dato.TotalPromedioPeruPetroC2"></td>
                                            @* <td></td>
                                            <td><input type="text" class="form-control" value="@Model.Dato.TotalPromedioPeruPetroVol"></td>
                                            <td></td>
                                            <td></td> *@
                                    </tr>
                                    </tbody>
                                </table>

                            
                            </div>


                        </div>
                    </div>







                    <div class="row mt-10">
                        <div class="col-md-12">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:350px;">
                                <thead>
                                    <tr>
                                        <th>ABREV.</th>
                                        <th>COMPONENTE</th>
                                        <th>MOL%</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Dato.ComposicionGnaLIVDetComponente)
                                    {
                                        <tr>
                                             <td><p class="text-table">@item.CompSimbolo</p</td>
                                             <td><p class="text-table">@item.CompDescripcion</p</td>
                                            <td><input type="text" class="form-control form-report only-number text-right" value="@item.CompMolPorc"></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>



          

           <div class="w-100 mt-10 mb-10">
                <div class="row d-flex justify-content-end">
                    <button class="btn btn-primary mr-2" id="btnGuardar"><i class="far fa-save"></i> Guardar</button>
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-print"></i> Descargar
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" id="btnDescargarExcel" href="javascript:void(0)">Excel</a>
                            <a class="dropdown-item" id="btnDescargarPdf" href="javascript:void(0)">PDF</a> 
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>