@page
@model Unna.OperationalReport.WebSite.Pages.Admin.IngenieroProceso.Reporte.Quincenal.ResBalanceEnergLgnLIV.IndexModel2
@{
}

@section Styles {
    <link href="~/css/reportes.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/admin/ingenieroproceso/reporte/diario/boletacnpc/index.js"></script>
}

<input type="hidden" id="__HD_URL_GENERAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/Quincenal/ResBalanceEnergLIV/GenerarExcel")" />

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table tbl-resumen-ventas w-100">
                <tbody>
                    <tr>
                        <td rowspan="2"><img src="~/images/logo.png" alt="Unna Energía Logo" style="width: 11rem;"></td>
                        <td rowspan="2">
                            <h2>RESUMEN BALANCE ENERGETICO - LOTE IV</h2>
                        </td>
                        <td>UNNA ENERGÍA - ENEL</td>
                    </tr>
                    <tr>
                        <td>Versión 01</td>
                    </tr>
                </tbody>
            </table>


            <div class="container mt-3">
                <div class="container mt-3">

                    <div class="row">
                        <div class="w-100 mt-5 mb-1">
                            <h3 class="mb-5 mt-1 w-100">MEDICIÓN DE GAS NATURAL DEL LOTE IV - BALANCE ENERGETICO DE PLANTA DE UNNA ENERGIA LGN (GLP y CGN)</h3>
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:500px;float:left;">
                                <thead>
                                    <tr>
                                        <th rowspan="2">DIA</th>
                                        <th colspan="4">GAS LICUADO DE PETRÓLEO - GLP</th>
                                        <th colspan="3">CONDENSADO DE GAS NATURAL - CGN</th>
                                        <th colspan="3">LÍQUIDOS DEL GAS NATURAL - LGN</th>
                                    </tr>
                                    <tr>
                                        <th>VOLUMEN (BBL)</th>
                                        <th>PODER CALORÍFICO (MMBTU/BBL)</th>
                                        <th>ENERGIA (MMBTU)</th>
                                        <th>DENSIDAD (KG/BBL)</th>
                                        <th>VOLUMEN (BBL)</th>
                                        <th>PODER CALORÍFICO (MMBTU/BBL)</th>
                                        <th>ENERGIA (MMBTU)</th>
                                        <th>VOLUMEN (BBL)</th>
                                        <th>PODER CALORÍFICO (MMBTU/BBL)</th>
                                        <th>ENERGIA (MMBTU)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Dato.ResBalanceEnergLgnLIVDetLgn)
                                    {
                                        <tr>
                                            <td>@item.Dia</td>
                                            <td><input type="text" class="form-control" value="@item.MedGasGlpVolumen"></td>
                                            <td><input type="text" class="form-control" value="@item.MedGasGlpPoderCal"></td>
                                            <td><input type="text" class="form-control" value="@item.MedGasGlpEnergia"></td>
                                            <td><input type="text" class="form-control" value="@item.MedGasGlpDensidad"></td>
                                            <td><input type="text" class="form-control" value="@item.MedGasCgnVolumen"></td>
                                            <td><input type="text" class="form-control" value="@item.MedGasCgnPoderCal"></td>
                                            <td><input type="text" class="form-control" value="@item.MedGasCgnEnergia"></td>
                                            <td><input type="text" class="form-control" value="@item.MedGasLgnVolumen"></td>
                                            <td><input type="text" class="form-control" value="@item.MedGasLgnPoderCal"></td>
                                            <td><input type="text" class="form-control" value="@item.MedGasLgnEnergia"></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="row">
                        <div class="w-100 mt-5 mb-1">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:500px;float:left;">
                                <thead>
                                    <tr>
                                        <th>ACUMULADO QUINCENAL UNNA</th>
                                        <th>VOLUMEN (BBL)</th>
                                        <th>PODER CALORÍFICO (MMBTU/BBL)</th>
                                        <th>ENERGIA (MMBTU)</th>
                                        <th>DENSIDAD (KG/BBL)</th>
                                        <th>VOLUMEN (BBL)</th>
                                        <th>PODER CALORÍFICO (MMBTU/BBL)</th>
                                        <th>ENERGIA (MMBTU)</th>
                                        <th>VOLUMEN (BBL)</th>
                                        <th>PODER CALORÍFICO (MMBTU/BBL)</th>
                                        <th>ENERGIA (MMBTU)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1RA QUINCENA NOV-23</td>
                                        <td>@Model.Dato.AcumUnnaQ1MedGasGlpVolumen</td>
                                        <td>@Model.Dato.AcumUnnaQ1MedGasGlpPoderCal</td>
                                        <td>@Model.Dato.AcumUnnaQ1MedGasGlpEnergia</td>
                                        <td>@Model.Dato.AcumUnnaQ1MedGasGlpDensidad</td>
                                        <td>@Model.Dato.AcumUnnaQ1MedGasCgnVolumen</td>
                                        <td>@Model.Dato.AcumUnnaQ1MedGasCgnPoderCal</td>
                                        <td>@Model.Dato.AcumUnnaQ1MedGasCgnEnergia</td>
                                        <td>@Model.Dato.AcumUnnaQ1MedGasLgnVolumen</td>
                                        <td>@Model.Dato.AcumUnnaQ1MedGasLgnPoderCal</td>
                                        <td>@Model.Dato.AcumUnnaQ1MedGasLgnEnergia</td>
                                    </tr>
                                    <tr>
                                        <td>2DA QUINCENA NOV-23</td>
                                        <td>@Model.Dato.AcumUnnaQ2MedGasGlpVolumen</td>
                                        <td>@Model.Dato.AcumUnnaQ2MedGasGlpPoderCal</td>
                                        <td>@Model.Dato.AcumUnnaQ2MedGasGlpEnergia</td>
                                        <td>@Model.Dato.AcumUnnaQ2MedGasGlpDensidad</td>
                                        <td>@Model.Dato.AcumUnnaQ2MedGasCgnVolumen</td>
                                        <td>@Model.Dato.AcumUnnaQ2MedGasCgnPoderCal</td>
                                        <td>@Model.Dato.AcumUnnaQ2MedGasCgnEnergia</td>
                                        <td>@Model.Dato.AcumUnnaQ2MedGasLgnVolumen</td>
                                        <td>@Model.Dato.AcumUnnaQ2MedGasLgnPoderCal</td>
                                        <td>@Model.Dato.AcumUnnaQ2MedGasLgnEnergia</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="w-100 mt-5 mb-1">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:500px;float:left;">
                                <thead>
                                    <tr>
                                        <th>ACUMULADO QUINCENAL PERUPETRO</th>
                                        <th>VOLUMEN (BBL)</th>
                                        <th>PODER CALORÍFICO (MMBTU/BBL)</th>
                                        <th>ENERGIA (MMBTU)</th>
                                        <th>DENSIDAD (KG/BBL)</th>
                                        <th>VOLUMEN (BBL)</th>
                                        <th>PODER CALORÍFICO (MMBTU/BBL)</th>
                                        <th>ENERGIA (MMBTU)</th>
                                        <th>VOLUMEN (BBL)</th>
                                        <th>PODER CALORÍFICO (MMBTU/BBL)</th>
                                        <th>ENERGIA (MMBTU)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1RA QUINCENA NOV-23</td>
                                        <td>@Model.Dato.AcumPeruPetroQ1MedGasGlpVolumen</td>
                                        <td>@Model.Dato.AcumPeruPetroQ1MedGasGlpPoderCal</td>
                                        <td>@Model.Dato.AcumPeruPetroQ1MedGasGlpEnergia</td>
                                        <td>@Model.Dato.AcumPeruPetroQ1MedGasGlpDensidad</td>
                                        <td>@Model.Dato.AcumPeruPetroQ1MedGasCgnVolumen</td>
                                        <td>@Model.Dato.AcumPeruPetroQ1MedGasCgnPoderCal</td>
                                        <td>@Model.Dato.AcumPeruPetroQ1MedGasCgnEnergia</td>
                                        <td>@Model.Dato.AcumPeruPetroQ1MedGasLgnVolumen</td>
                                        <td>@Model.Dato.AcumPeruPetroQ1MedGasLgnPoderCal</td>
                                        <td>@Model.Dato.AcumPeruPetroQ1MedGasLgnEnergia</td>
                                    </tr>
                                    <tr>
                                        <td>2DA QUINCENA NOV-23</td>
                                        <td>@Model.Dato.AcumPeruPetroQ2MedGasGlpVolumen</td>
                                        <td>@Model.Dato.AcumPeruPetroQ2MedGasGlpPoderCal</td>
                                        <td>@Model.Dato.AcumPeruPetroQ2MedGasGlpEnergia</td>
                                        <td>@Model.Dato.AcumPeruPetroQ2MedGasGlpDensidad</td>
                                        <td>@Model.Dato.AcumPeruPetroQ2MedGasCgnVolumen</td>
                                        <td>@Model.Dato.AcumPeruPetroQ2MedGasCgnPoderCal</td>
                                        <td>@Model.Dato.AcumPeruPetroQ2MedGasCgnEnergia</td>
                                        <td>@Model.Dato.AcumPeruPetroQ2MedGasLgnVolumen</td>
                                        <td>@Model.Dato.AcumPeruPetroQ2MedGasLgnPoderCal</td>
                                        <td>@Model.Dato.AcumPeruPetroQ2MedGasLgnEnergia</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="w-100 mt-5 mb-1">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:500px;float:left;">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>VOLUMEN (BBL)</th>
                                        <th>PODER CALORÍFICO (MMBTU/BBL)</th>
                                        <th>ENERGIA (MMBTU)</th>
                                        <th>DENSIDAD (KG/BBL)</th>
                                        <th>VOLUMEN (BBL)</th>
                                        <th>PODER CALORÍFICO (MMBTU/BBL)</th>
                                        <th>ENERGIA (MMBTU)</th>
                                        <th>VOLUMEN (BBL)</th>
                                        <th>PODER CALORÍFICO (MMBTU/BBL)</th>
                                        <th>ENERGIA (MMBTU)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>DIF. UNNA / PERUPETRO 1Q</td>
                                        <td>@Model.Dato.DifUPQ1MedGasGlpVolumen</td>
                                        <td>@Model.Dato.DifUPQ1MedGasGlpPoderCal</td>
                                        <td>@Model.Dato.DifUPQ1MedGasGlpEnergia</td>
                                        <td>@Model.Dato.DifUPQ1MedGasGlpDensidad</td>
                                        <td>@Model.Dato.DifUPQ1MedGasCgnVolumen</td>
                                        <td>@Model.Dato.DifUPQ1MedGasCgnPoderCal</td>
                                        <td>@Model.Dato.DifUPQ1MedGasCgnEnergia</td>
                                        <td>@Model.Dato.DifUPQ1MedGasLgnVolumen</td>
                                        <td>@Model.Dato.DifUPQ1MedGasLgnPoderCal</td>
                                        <td>@Model.Dato.DifUPQ1MedGasLgnEnergia</td>
                                    </tr>
                                    <tr>
                                        <td>2DA QUINCENA NOV-23</td>
                                        <td>@Model.Dato.DifUPQ2MedGasGlpVolumen</td>
                                        <td>@Model.Dato.DifUPQ2MedGasGlpPoderCal</td>
                                        <td>@Model.Dato.DifUPQ2MedGasGlpEnergia</td>
                                        <td>@Model.Dato.DifUPQ2MedGasGlpDensidad</td>
                                        <td>@Model.Dato.DifUPQ2MedGasCgnVolumen</td>
                                        <td>@Model.Dato.DifUPQ2MedGasCgnPoderCal</td>
                                        <td>@Model.Dato.DifUPQ2MedGasCgnEnergia</td>
                                        <td>@Model.Dato.DifUPQ2MedGasLgnVolumen</td>
                                        <td>@Model.Dato.DifUPQ2MedGasLgnPoderCal</td>
                                        <td>@Model.Dato.DifUPQ2MedGasLgnEnergia</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>



            <div class="container mt-3">
                <div class="container mt-3">
                    <div class="row">
                        <div class="w-100 mt-5 mb-1">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:500px;float:left;">
                                <thead>
                                    <tr>
                                        <th colspan="2">1ra Quincena</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>DENSIDAD GLP Kg/Bl</td>
                                        <td>@Model.Dato.PromQ1MedGasGlpDensidad</td>
                                    </tr>
                                    <tr>
                                        <td>P.C. GLP (MMBtu/Bl 60°F)</td>
                                        <td>@Model.Dato.PromQ1MedGasGlpPoderCal</td>
                                    </tr>
                                    <tr>
                                        <td>P.C. CGN (MMBtu/Bl 60°F)</td>
                                        <td>@Model.Dato.PromQ1MedGasCgnPoderCal</td>
                                    </tr>
                                    <tr>
                                        <td>P.C. LGN (MMBtu/Bl 60°F)</td>
                                        <td>@Model.Dato.PromQ1MedGasLgnPoderCal</td>
                                    </tr>
                                    <tr>
                                        <td>Factor de Conversión (SCFD/Gal)</td>
                                        <td>@Model.Dato.Q1MedGasFactorConv</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="w-100 mt-5 mb-1">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:500px;float:left;">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>GLP ENERGIA (MMBTU)</th>
                                        <th>CGN ENERGIA (MMBTU)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1ra Quincena</td>
                                        <td>@Model.Dato.TotalQ1MedGasGlpEnergia</td>
                                        <td>@Model.Dato.TotalQ1MedGasCgnEnergia</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="w-100 mt-5 mb-1">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:500px;float:left;">
                                <thead>
                                    <tr>
                                        <th colspan="2">2da Quincena</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>DENSIDAD GLP Kg/Bl</td>
                                        <td>@Model.Dato.PromQ2MedGasGlpDensidad</td>
                                    </tr>
                                    <tr>
                                        <td>P.C. GLP (MMBtu/Bl 60°F)</td>
                                        <td>@Model.Dato.PromQ2MedGasGlpPoderCal</td>
                                    </tr>
                                    <tr>
                                        <td>P.C. CGN (MMBtu/Bl 60°F)</td>
                                        <td>@Model.Dato.PromQ2MedGasCgnPoderCal </td>
                                    </tr>
                                    <tr>
                                        <td>P.C. LGN (MMBtu/Bl 60°F)</td>
                                        <td>@Model.Dato.PromQ2MedGasLgnPoderCal</td>
                                    </tr>
                                    <tr>
                                        <td>Factor de Conversión (SCFD/Gal)</td>
                                        <td>@Model.Dato.Q2MedGasFactorConv</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="w-100 mt-5 mb-1">
                            <table class="table table-bordered tbl-resumen-ventas" style="max-width:500px;float:left;">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>GLP ENERGIA (MMBTU)</th>
                                        <th>CGN ENERGIA (MMBTU)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1ra Quincena</td>
                                        <td>@Model.Dato.TotalQ2MedGasGlpEnergia</td>
                                        <td>@Model.Dato.TotalQ2MedGasCgnEnergia</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>


            <!-- Cuadro Firma -->
            <div class="w-100 mt-20">
                <table style="max-width:100%;float:center;">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b><img src="~/images/firmas/FIRMA RSC.jpeg" style="max-width:220px;" /></b> </td>
                            <td><b><img src="~/images/firmas/FIRMA RSC.jpeg" style="max-width:220px;" /></b> </td>
                        </tr>
                        <tr>
                            <td><b>----------------------------------------------------</b> </td>
                            <td><b>----------------------------------------------------</b> </td>
                        </tr>
                        <tr>
                            <td><b>PERUPETRO S.A</b> </td>
                            <td><b>UNNA ENERGIA S.A</b> </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="w-100 mt-10 mb-10 text-right">
                <button id="btnDescargarExcel" class="btn btn-primary btn-lg">Descargar Excel</button>

            </div>

        </div>
    </div>
</div>

<script>