@page
@model Unna.OperationalReport.WebSite.Pages.Admin.EnvioCorreo.IndexModel
@{

    var grupos = Model.reportes.GroupBy(e => e.Grupo).Select(e => e.Key).ToList();

}

@section Scripts {
    <script src="~/js/admin/enviocorreo/index.js?v=1.0.6"></script>
}

<input type="hidden" id="__URL_LISTAR_REPORTES" value="@Url.Content("~/api/admin/reporte/General/Listar")" />
<input type="hidden" id="__URL_DATOS_REPORTE" value="@Url.Content("~/api/admin/correos/Enviar/Obtener/")" />
<input type="hidden" id="__URL_ENVIAR_REPORTE" value="@Url.Content("~/api/admin/correos/Enviar/EnviarCorreo")" />
<input type="hidden" id="__URL_DESCARGAR_DOCUMENTOS" value="@Url.Content("~/api/admin/correos/Adjunto/Descargar/")" />
<input type="hidden" id="__URL_LISTAR_CORREOS_ENVIADOS" value="@Url.Content("~/api/admin/correos/Enviar/ListarCorreosEnviados")" />






<div class="card card-custom gutter-b example example-compact">
    <div class="card-header">
        <h3 class="card-title"><b>Envió de Correos</b></h3>

    </div>
    <div class="card-body">
        <div class="col-md-12 reponsive-right-to-left">
            <div class="form-group row">
                <label class="col-md-1  col-form-label text-right">Grupo:</label>
                <div class="col-md-2">
                    <select class="form-control" id="ddlGrupo">
                        <option value="Diario" selected>Diario</option>
                        <option value="Quincenal">Quincenal</option>
                        <option value="Mensual">Mensual</option>
                    </select>
                </div>
                <label class="col-md-1 col-form-label text-right">Día Operativo:</label>
                <div class="col-md-2">
                    <input class="form-control campo-fecha" type="text" value="@Model.Fecha" id="ddlFecha">
                </div>
                <label class="col-md-1 col-form-label text-right">Reporte:</label>
                <div class="col-md-4">
                    <select class="form-control" id="selectReporte">
                        <option value="">--Todos--</option>
                        @foreach (var item in grupos)
                        {
                            var lista = Model.reportes.Where(e => e.Grupo == item).ToList();
                            <optgroup label="@item">
                                @foreach (var value in lista)
                                {
                                    <option value="@value.Id">@($"{value.NombreReporte}")</option>
                                }
                            </optgroup>
                        }

                    </select>
                </div>
                <button type="button" class="btn btn-success btn-lg btn-block btn-sm col-md-1" id="btnBuscar" style="max-width:80px; max-height: 40px;">Buscar</button>
            </div>

        </div>
        <div class="col-md-12 mt-5">
            <div class="table-responsive">
                <table class="table dataTable" id="tblCorreos">
                    <thead>
                        <tr>
                            <th>Acción</th>
                            <th>Asunto</th>
                            <th>Grupo</th>
                            <th>Dia Operativo</th>
                            <th>Fue Enviado</th>
                            <th>Fecha Enviado</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>





    </div>

</div>



<div class="modal fade" id="modalEnviarCorreo" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Envío de correos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="tbmDiaOperativo" />
                <div class="form-group">
                    <label for="selectReporte">Reporte</label>

                    <select class="form-control" id="cbxReporte" disabled>
                        
                    </select>
                </div>

                <div class="form-group mb-5" id="loadingContenidoCorreo" style="display:none;">
                    <div class="spinner spinner-primary spinner-left">
                        <p4 class="ml-15">Cargando...</p4>
                    </div>
                </div>
                <div id="contenidoCorreo" style="display:none;">

                    <div class="form-group mb-2">
                        <div class="alert alert-custom alert-default" role="alert" id="contenidoSuccesBuscarReporte" style="display:none;">
                            <div class="alert-icon">
                                <span class="fas fa-mail-bulk"></span>
                            </div>
                            <div class="alert-text" id="mensajeSuccesBuscarReporte">Valide los datos y luego confirme para poder enviar el correo</div>
                        </div>
                        <div class="alert alert-custom alert-warning" role="alert" id="contenidoErrorBuscarReporte" style="display:none;">
                            <div class="alert-icon">
                                <span class="fas fa-mail-bulk"></span>
                            </div>
                            <div class="alert-text" id="mensajeErrorBuscarReporte">El correo para el periodo seleccionado ya fue enviado, si desea enviar de nuevo valide e confirme el envió</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>
                            Destinatario
                            <span class="text-danger">*</span>
                        </label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="tbDestinatario" placeholder="Ingrese un correo y agregue">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="btnAgregarDestinatario">Agregar</button>
                            </div>
                        </div>
                        <span class="select2-container--default ">
                            <span class="select2-selection--multiple border-0 mt-2">
                                <ul class="select2-selection__rendered p-0 select-correos-destinatario">
                                </ul>
                            </span>
                        </span>

                    </div>
                    <div class="form-group mb-1">
                        <label for="exampleTextarea">
                            Añadir Cc
                        </label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="tbCc" placeholder="Ingrese un correo y agregue">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="btnAgregarCc">Agregar</button>
                            </div>
                        </div>
                        <span class="select2-container--default ">
                            <span class="select2-selection--multiple border-0 mt-2">
                                <ul class="select2-selection__rendered p-0 select-correos-cc">
                                </ul>
                            </span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="tbAsunto">
                            Asunto
                            <span class="text-danger">*</span>
                        </label>
                        <textarea class="form-control" id="tbAsunto" rows="2"></textarea>
                    </div>

                    <div class="form-group mb-1">
                        <label for="exampleTextarea">
                            Cuerpo correo
                            <span class="text-danger">*</span>
                        </label>
                        <textarea class="form-control" id="tbCuerpoCorreo" rows="12"></textarea>
                    </div>
                    <div class="form-group mb-1 mt-4">
                        <div class="card-toolbar" id="listaAdjuntosCorreo">                          
                        </div>
                    </div>
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary font-weight-bold" id="btnEnviar">Enviar</button>
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>