@page
@model Unna.OperationalReport.WebSite.Pages.Admin.IngenieroProceso.Reporte.Diario.FiscalizacionPetroPeru.IndexModel
@{
}


@section Styles {
    <link href="~/css/reportes.css?v=11" rel="stylesheet" />
}


@section Scripts {

    <script src="~/js/admin/ingenieroproceso/reporte/diario/fiscalizacionpetroperu/index.js?v=1.1.1"></script>
}


<input type="hidden" id="__URL_GUARDAR_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/diario/FiscalizacionPetroPeru/Guardar")" />
<input type="hidden" id="__URL_OBTENER_REPORTE" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/diario/FiscalizacionPetroPeru/Obtener")" />
<input type="hidden" id="__URL_GENERAR_REPORTE_EXCEL" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/diario/FiscalizacionPetroPeru/GenerarExcel")" />
<input type="hidden" id="__URL_GENERAR_REPORTE_PDF" value="@Url.Content("~/api/admin/ingenieroProceso/reporte/diario/FiscalizacionPetroPeru/GenerarPdf")" />

<div class="container">
    <div class="row">
        <div class="col-12">

            <!-- Cabecera -->
            <table class="table tbl-resumen-ventas w-100">
                <tbody>
                    <tr>
                        <td rowspan="3"><img src="@Url.Content("~/images/logo.png")" alt="" style="width: 11rem;"></td>
                        <td rowspan="3">
                            <h2>@Model.Dato?.General?.NombreReporte</h2>
                        </td>
                        <td colspan="2">@Model.Dato?.General?.Nombre</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p class="mb-0">Versión/Fecha</p>
                            <p class="mb-0">@Model.Dato?.General?.Version / @Model.Dato?.General?.Fecha</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Preparado por: @Model.Dato?.General?.PreparadoPör</td>
                        <td>Aprobado por: @Model.Dato?.General?.AprobadoPor</td>

                    </tr>
                </tbody>
            </table>

            <!-- Sección de Fecha -->
            <div class="d-flex justify-content-end mt-3">
                <div class="card border-thick" style="width: auto;">
                    <div class="card-body">
                        <p class="mb-0 text-right">Fecha: <strong>@Model.Dato?.Fecha</strong></p>
                    </div>
                </div>
            </div>

            <!-- Cuadro N° 1 -->
            <div class="container mt-3">
                <h4 class="text-center">Cuadro N° 1. Asignación de Volumen de Líquidos del Gas Natural (LGN) desglosado por lotes de PETROPERU</h4>
                <div class="container mt-3">
                    <div class="card border-thick">                      
                        <div class="card-body">
                            <div class="row mb-2 data-row">
                                <div class="col-6 col-md-4">
                                    <label class="font-weight-bold">Volumen Total de Producción de LGN:</label>
                                </div>
                                <div class="col-3 col-md-4">
                                    <input type="text" class="form-control form-report only-number text-right" id="volumenTotalProduccion" value="@Model.Dato?.VolumenTotalProduccion">
                                </div>
                                <div class="col-3 col-md-4">
                                    <label>(BLS)</label>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <label class="font-weight-bold">Contenido LGN TOTAL:</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control form-report only-number text-right" id="contenidoLgn" value="@Model.Dato?.ContenidoLgn">
                                </div>
                                <div class="col">
                                    <label>(BLS)</label>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <label class="font-weight-bold">Eficiencia:</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control form-report only-number text-right" id="eficiencia" value="@Model.Dato?.Eficiencia">
                                </div>
                                <div class="col">
                                    <label>(%)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-3">
                    <table class="table table-bordered thick-border">
                        <thead>
                            <tr>
                                <th colspan="3"></th>
                                <th colspan="4" class="text-center">Factor de Asignación de Líquidos del Gas Natural</th>
                            </tr>
                            <tr>
                                <th>Item</th>
                                <th>Suministrador</th>
                                <th>Volumen de GNA (Mpcs)</th>
                                <th>Riqueza (C3+) del GNA en Gal/Mpcs (De cromatografía de gas)</th>
                                <th>Contenido de LGN en el GNA (Gal)</th>
                                <th>Factor de Asignación FdLGN (%)</th>
                                <th>Asignación de LGN (Bls)</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th><span class="text-muted">(Ki)</span></th>
                                <th><span class="text-muted">(Li)</span></th>
                                <th><span class="text-muted">(Mi=KixLi)</span></th>
                                <th><span class="text-muted">(Ni=Mi/Mt)</span></th>
                                <th><span class="text-muted">(Oi=NixLGN Total)</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Dato?.FactorAsignacionLiquidoGasNatural != null)
                            {
                                @foreach (var item in Model.Dato.FactorAsignacionLiquidoGasNatural)
                                {
                                    <tr class="list-datos-tablaFALGN" data-id-dato="@item.Item">
                                        <td>@item.Item</td>
                                        <td class="text-left">@item.Suministrador</td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="FALGNVolumen_@item.Item" value="@item.Volumen"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="FALGNRiqueza_@item.Item" value="@item.Riqueza"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="FALGNContenido_@item.Item" value="@item.VolumenRiqueza"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="FALGNFactor_@item.Item" value="@item.Factor"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="FALGNAsignacion_@item.Item" value="@item.Asignacion"></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <div class="card mt-3 border-thick">
                        <div class="mt-2">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Factor de conversión LOTE Z-69 (PCSD / Gal)</td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="FactorConversionZ69" value="@Model.Dato?.FactorConversionZ69"></td>
                                    </tr>
                                    <tr>
                                        <td>Factor de conversión LOTE VI (PCSD / Gal)</td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="FactorConversionVi" value="@Model.Dato?.FactorConversionVi"></td>
                                    </tr>
                                    <tr>
                                        <td>Factor de conversión LOTE I (PCSD / Gal)</td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="FactorConversionI" value="@Model.Dato?.FactorConversionI"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Cuadro N° 2 -->
            <div class="container mt-5">
                <h4 class="text-center">Cuadro N° 2. Volumen GNS disponible por lotes de PETROPERU</h4>
                <div class="container mt-3">
                    <table class="table table-bordered thick-border">
                        <thead>
                            <tr>
                                <th colspan="2"></th>
                                <th colspan="4" class="text-center">Factor de Asignación de Líquidos del Gas Natural</th>
                            </tr>
                            <tr>
                                <th>Item</th>
                                <th>Suministrador</th>
                                <th>Riqueza (C3+) del GNA en Gal/Mpcs (De cromatografía de gas)</th>
                                <th>Contenido de LGN en el GNA (Gal)</th>
                                <th>Factor de Asignación FdLGN (%)</th>
                                <th>Asignación de LGN (Bls)</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th><span class="text-muted">(Li)</span></th>
                                <th><span class="text-muted">(Mi=KixLi)</span></th>
                                <th><span class="text-muted">(Ni=Mi/Mt)</span></th>
                                <th><span class="text-muted">(Oi=NixLGN Total)</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Dato?.DistribucionGasNaturalSeco != null)
                            {
                                @foreach (var item in Model.Dato.DistribucionGasNaturalSeco)
                                {
                                    <tr class="list-datos-tablaDGNS" data-id-dato="@item.Item">
                                        <td>@item.Item</td>
                                        <td class="text-left">@item.Suministrador</td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="DGNSVolumenGna_@item.Item" value="@item.VolumenGna"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="DGNSPoderCalorifico_@item.Item" value="@item.PoderCalorifico"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="DGNSVolumenGns_@item.Item" value="@item.VolumenGns"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="DGNSVolumenGnsd_@item.Item" value="@item.VolumenGnsd"></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Cuadro N° 3 -->
            <div class="container mt-3">
                <h4 class="text-center">Cuadro N° 3. Volumen transferido a Refinería por lotes de PETROPERU</h4>
                <div class="container mt-3">
                    <div class="card border-thick">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col">
                                    <label class="font-weight-bold">Volumen Total de Producción de LGN:</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control form-report only-number text-right" id="VolumenTotalGns" value="@Model.Dato?.VolumenTotalGns">
                                </div>
                                <div class="col">
                                    <label>(BLS)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-3">
                    <table class="table table-bordered thick-border">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Riqueza (C3+) del GNA en Gal/Mpcs (De cromatografía de gas)</th>
                                <th>Contenido de LGN en el GNA (Gal)</th>
                                <th>Factor de Asignación FdLGN (%)</th>
                            </tr>
                            <tr>
                                <th>Item</th>
                                <th>Suministrador</th>
                                <th><span class="text-muted">(Li)</span></th>
                                <th><span class="text-muted">(Mi=KixLi)</span></th>
                                <th><span class="text-muted">(Ni=Mi/Mt)</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Dato?.VolumenTransferidoRefineriaPorLote != null)
                            {
                                @foreach (var item in Model.Dato.VolumenTransferidoRefineriaPorLote)
                                {
                                    <tr class="list-datos-tablaVTRPL" data-id-dato="@item.Item">
                                        <td>@item.Item</td>
                                        <td class="text-left">@item.Suministrador</td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="VTRPLVolumenGns_@item.Item" value="@item.VolumenGns"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="VTRPLVolumenFlare_@item.Item" value="@item.VolumenFlare"></td>
                                        <td><input type="text" class="form-control form-report only-number text-right" id="VTRPLVolumenGnsTransferido_@item.Item" value="@item.VolumenGnsTransferido"></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="container mt-3">
                    <div class="card border-thick">                        
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Factor de conversión LOTE Z-69 (PCSD / Gal)</td>
                                        <td><input type="text" id="VolumenTotalGnsFlare" class="form-control form-report only-number text-right" value="@Model.Dato?.VolumenTotalGnsFlare"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Cuadro Firma -->
            <div class="w-100 mt-20">
                <img src="@Url.Content(Model.Dato?.General?.UrlFirma)" style="max-width:220px;" />
            </div>

            <div class="w-100 mt-10 mb-10">
                <div class="row d-flex justify-content-end">
                    <button class="btn btn-primary mr-2" id="btnGuardar"><i class="far fa-save"></i> Guardar</button>
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-print"></i> Descargar
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" id="btnDescargarExcel" href="javascript:void(0)">Excel</a>
                            <a class="dropdown-item" id="btnDescargarPdf" href="javascript:void(0)">PDF</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    function descargarBoleta() {
        window.location = '/api/BoletaFiscalizacion/downloadVoucher';
    }

    function descargarBoletaPDF() {
        window.location = '/api/BoletaFiscalizacion/downloadPdf';
    }

    function descargarBoletaExcel() {
        window.location = '/api/BoletaFiscalizacion/GenerateDailyReport';
    }
</script>